body {
    background-color: white;
    font-size: 24px;
}

body > ul {
  list-style-type: none;
}

li p {
  font-size:16px;
  margin: 0;
}

pre.prettyprint {
  font-size:14px;
    display:inline-block;
    background-color:#F8F8F8;
    border-radius:3px;
  padding: 10px;
}

#synced {
    font-size:1.2em;
    display:none;
}

.hidden {
  display: none;
}

h2 {
  font-size: 24px;
  margin: 16px 0 6px 0;
}
h3 {
  font-size: 20px;
  margin: 4px 0;
}