[submodule "Common/php/httpserver"]
	path = Common/php/httpserver
	url = git://github.com/quartzjer/httpserver.git
[submodule "Apps/photosv0.9"]
	path = Apps/photosv0.9
	url = git://github.com/LockerProject/photosv0.9.git
[submodule "Apps/PhotosViewer"]
	path = Apps/PhotosViewer
	url = git://github.com/LockerProject/PhotosViewer.git
[submodule "Apps/MergedContacts"]
	path = Apps/MergedContacts
	url = git://github.com/LockerProject/MergedContacts.git
[submodule "Apps/LinkaLatte"]
	path = Apps/LinkaLatte
	url = git://github.com/LockerProject/Linkalatte.git
