
/* App Sections ----------------------------------------------------------- */

#appSection
{
  display: none;
}

#appFrame
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.unstable 
{
  display: none;
}