#homeSection {
    display:none;
}

#homeSection section.content {
    padding: 20px;
}

#homeSection .tbd {
    background: #fff;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8;
}