html,body {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: #ebebeb;
    font-family: arial, helvetica, sans-serif;
}

footer {
  	background-color: #BBB;
	height: 24px;
	text-align: center;
	font-size: 0.8em;
	padding: 6px 0 0 0;
}

footer a {
	color: #fff;
	text-decoration: underline;
	margin: 0 15px;
}

#fdbk_screen {
    height: 100% !important;
}

.header {
    border: 0;
    height: 45px;
    color: white;
    overflow: hidden;
    background: rgb(120,180,226); /* Old browsers */
background: -moz-linear-gradient(top, rgba(120,180,226,1) 0%, rgba(38,97,124,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,180,226,1)), color-stop(100%,rgba(38,97,124,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(120,180,226,1) 0%,rgba(38,97,124,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(120,180,226,1) 0%,rgba(38,97,124,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(120,180,226,1) 0%,rgba(38,97,124,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78b4e2', endColorstr='#26617c',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(120,180,226,1) 0%,rgba(38,97,124,1) 100%); /* W3C */
-moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}



.header .headerTitle {
    line-height: 45px;
    margin-left: 100px;
    font-weight: bold;
    text-align: left;
    text-shadow: none;
    font-size: 1.2em;
}

.header .home-logo {
    float: left;
/*     clear: left; */
    margin-left: 25px;
    margin-top: 5px;
    cursor: pointer;
}

.header .divider {
    margin-top:8px;
    margin-left:3px;
    float:left;
}

.app-link {
    color: white;
    font-size: 12px;
    border-radius: 3px;
    padding: 4px 10px;
    height:20px;
    margin-top:8px;
    text-align:center;
    text-transform: uppercase;
    width:65px;
    margin-left: 5px;
    float:left;
    vertical-align:middle;
    overflow:hidden;
}

.app-link-floater {
    float:left;
    height:50%;
    margin-bottom:-0.5em;
}

.app-link-centerer {
    clear:both;
    height:1em;
    position:relative;
}

.buttonCounter {
    font-size:10px;
    display:none;
}

.app-link a {
    color:white;
}

.app-links {
    float: left;
    margin-left: 0px;
    height:40px;
}

.app-link:hover {
/*     color: #67abdc; */
    background-color: #4d4d4d;

    box-shadow: inset 0 1px 3px 1px rgba(0,0,0,0.36);

}

.app-link.selected {
    background: #ebebeb;
    color: #444;
    -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.app-link.selected a {
    color:#444;
}

#nav-search input.search {
font-size: 16px;
color: #999;
padding: 4px;
padding-left:30px;
width:300px;
margin: 9px 0 0 15px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-khtml-border-radius: 4px;
border-radius: 4px;
background: rgb(255,255,255) url('../img/search_glass.png') left center no-repeat; /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))) url('../img/search_glass.png') left center no-repeat; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) url('../img/search_glass.png') left center no-repeat; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) url('../img/search_glass.png') left center no-repeat; /* W3C */
-moz-box-shadow:inset 2px 2px 5px #ccc;
box-shadow:inset 2px 2px 5px #ccc;
border: 1px solid #888;
}
#nav-search input.submit {
display:none;
}
#nav-search input.submit:hover,
#nav-search input.submit.hover {

}

#nav-search input.submit:active,
#nav-search input.submit.active {


}

.app-page .header {
    border-bottom: solid 1px #4d4d4d;
}

.block {
    width: 33.3333%;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

#main {
    width: 505px;
    margin: 50px auto 0px auto;
}

#main .title {
    margin-left: 5px;
    font-size: 34px;
    font-weight: bold;
    color: #6e6e6e;
    text-align: center;
}

#main .body {
    margin-top: 20px;
    background: #5cbae1;
    border-radius: 8px;
    color: white;
    padding: 11px;
    overflow: hidden;
}

#main .body-header {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 20.25px;
    margin-left: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

#main .box {
    cursor: pointer;
    background-color: white;
    color: #989898;
    padding: 10px 25px 5px 25px;
    margin: 0px 11px;
    border-radius: 12px;
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, .31);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, .31);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, .31);
}

#main .box.clicked {
    -moz-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, .31);
    -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, .31);
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, .31);
}

.imageBox.contacts {
    background-image: url('../img/contacts.png');
}

.imageBox.contacts:hover {
    background-image: url('../img/contacts_over.png');
}

.imageBox.search {
    background-image: url('../img/search.png');
}

.imageBox.search:hover {
    background-image: url('../img/search_over.png');
}

.imageBox.links {
    background-image: url('../img/links.png');
}

.imageBox.links:hover {
    background-image: url('../img/links_over.png');
}

.imageBox.photos {
    background-image: url('../img/photos.png');
}

.imageBox.photos:hover {
    background-image: url('../img/photo_over.png');
}

#preload {
    display: none;
}

#main .imageBox {
    height: 90px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

#main .box.clicked .imageBox {
    margin-top: 2px;
    height: 88px;
}

#main .box.clicked p {
    margin-top: 7px;
    margin-bottom: 3px;
}

#main p {
    margin: 5px 2px;
    font-size: 12.25px;
    text-align: center;
}

#main .box p {
    font-weight: bold;
}

#main .undertext {
    font-size: 12.25px;
    margin: 10px 20px 10px 20px;
    letter-spacing: .5px;
}

.services-box-container {
    height: 1.5em;
    overflow: hidden;
    position:absolute;
    right:10px;
    top:44px;
    z-index:10;
}

.services-box {
    cursor: pointer;
    float: right;
    background-color: rgba(38, 97, 124, 0.7);
    border:1px solid #4d4d4d;
    border-top:0;
    padding: 5px;
    font-size: .7em;
    color:white;
    z-index:1;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
}

.services-top-spacer {
    height:0.8em;
}

#services {
    background-color: #313131;
    height: 0px;
    box-shadow: inset 0px 5px 5px black;
    overflow: hidden;
}

#choose-services {
    background-image: url('../img/arrow.png');
    width: 244px;
    height: 55px;
    margin-top: 30px;
    line-height: 46px;
    color: white;
    padding-left: 10px;
    font-weight: bold;
    float: left;
}

#service-selector {
    background-color: #535353;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    padding: 0px 15px;
    height: 80px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, .1);
}

.service {
    width: 76px;
    float: left;
    margin-top: 13px;
}

.service.template {
    display: none;
}

.service .checkmark {
    position: relative;
    display: none;
    top: -61px;
    left: 43px;
}

.service .provider-icon {
    margin-left: 20px;
}

.service .spinner {
    position: relative;
    top: -35px;
    left: 0px;
}

.service .provider-name {
    margin-top: 4px;
    text-align: center;
    font-size: 11px;
    color: #bfbfbf;
    font-weight: bold;

}

.service .provider-link.disabled {
    cursor: auto;
    opacity: .5;
}

#service-closer {
    background-image: url('../img/uparrows.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 90px;
    float: right;
    height: 20px;
    width: 36px;
    background-color: #7b7b7b;
    cursor: pointer;
}

.gray {
    color: #555;
}

#appFrame {
    width: 100%;
    height: 100%;
}

#counters {
    position:absolute;
    right:20px;
    top:6px;
    font-size:10px;
}

.tooltip {
    display:none;
    background:transparent url(../img/white_arrow.png) no-repeat;
    font-size:80%;
    height:122px;
    width:209px;
}

.tooltip div {
    margin:12px;
    margin-top:45px;
    word-wrap:break-word;
    color:#000;
    text-align:center;
    font-weight: bold;
}

.tooltip .lastUpdated {
    font-size: 10px;
    margin-top: 10px;
    font-weight: normal;
}

#customLogout {
    right:0;
    top:0;
    height:45px;
    font-size:80%;
    position:absolute;
    z-index:9999;
    display:none;
}

.userMenuHover {
    background-color:rgba(120,180,226,0.5);
}

#menuExpander {
    top:50%;
    height:1em;
    margin-left:5px;
    margin-top:-0.5em;
    position:absolute;
}

.userEmail {

}

.userMenu {
    background-color:white;
    color:black;
    right:0px;
    border:2px solid rgba(120,180,226,1);
    border-bottom:0px;
}

.signout-link {
    height:1em;
    margin:0.5em;
    padding:0.5em;
}

.signout-link:hover {
    background-color: #CCC;
}

#userMenu {
    display:none;
    margin-top:45px;
    background-color:white;
    border:2px solid rgba(120,180,226,1);
    border-top:1px solid rgba(38,97,124,1);
    border-top:0;
    margin-left:-2px;
    margin-right:2px;
    z-index:9999;
}

#menuExpander .expander {
    font-size:50%;
    position:absolute;
    right:10px;
    top:2px;
}

#userMenu .user-name {
    font-weight:bold;
    padding-left:5px;
}
