html,body {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: #ebebeb;
    font-family: arial, helvetica, sans-serif;
}

.header {
    border: 0;
    background: #6e6e6e;
    height: 45px;
    color: white;
    overflow: hidden;
}

.header .back-button {
    float: left;
    clear: left;
    margin-right: 15px;
    margin-top: 6px;
    cursor: pointer;
}

.header .headerTitle {
    line-height: 45px;
    margin-left: 100px;
    font-weight: bold;
    text-align: left;
    text-shadow: none;
    font-size: 1.2em;
}

.app-link {
    color: white;
    font-weight: bold;
    font-size: .9em;
    margin-left: 5px;
    line-height: 45px;
    padding: 4px 10px;
    border-radius: 3px;
}

.links {
    float: left;
    margin-left: 50px;
}

.app-link:hover {
    color: #67abdc;
    background-color: #4d4d4d;
}

.app-link.selected {
    background: #ebebeb;
    color: #333;
}

.app-page .header {
    border-bottom: solid 3px #4d4d4d;
}

.block {
    width: 25%;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

#main {
    width: 655px;
    margin: 50px auto 0px auto;
}

#main .title {
    width: 505px;
    margin-left: 80px;
    font-size: 34px;
    font-weight: bold;
    color: #6e6e6e;
}

#main .body {
    margin-top: 20px;
    background: #5cbae1;
    border-radius: 8px;
    color: white;
    padding: 11px;
    overflow: hidden;
}

#main .body-header {
    width: 505px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 20.25px;
    margin-left: 90px;
    font-weight: bold;
    margin-bottom: 15px;
}

#main .box {
    cursor: pointer;
    background-color: white;
    color: #989898;
    padding: 10px 0px 5px 0px;
    margin: 0px 11px;
    border-radius: 12px;
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, .31);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, .31);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, .31);
}

#main .box.clicked {
    -moz-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, .31);
    -webkit-box-shadow: inset 0px 3px 1px rgba(0, 0, 0, .31);
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, .31);
}

#main .imageBox {
    padding: 0px 25px;
}

#main .box.clicked .imageBox {
    margin-left: 2px;
    margin-top: 2px;
    height: 85px;
}

#main .box.clicked p {
    margin-top: 7px;
    margin-left: 4px;
}

#main p {
    margin: 5px 2px;
    font-size: 12.25px;
    text-align: center;
}

#main .box p {
    font-weight: bold;
}

#main .undertext {
    font-size: 12.25px;
    margin: 10px 20px 10px 20px;
    letter-spacing: .5px;
}

.services-box-container {
    float: right;
    height: 45px;
    overflow: hidden;
}

.services-box {
    cursor: pointer;
    float: right;
    margin-right: 50px;
    background-color: #67abdc;
    margin-top: 27px;
    padding: 5px;
    font-size: .7em;
    border-radius: 5px;
}

#services {
    background-color: #313131;
    height: 0px;
    box-shadow: inset 0px 5px 5px black;
    overflow: hidden;
}

#choose-services {
    background-image: url('../img/arrow.png');
    width: 244px;
    height: 55px;
    margin-top: 30px;
    line-height: 46px;
    color: white;
    padding-left: 10px;
    font-weight: bold;
    float: left;
}

#service-selector {
    background-color: #535353;
    border-radius: 5px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    padding: 0px 15px;
    height: 80px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, .1);
}

.service {
    width: 76px;
    float: left;
    margin-top: 13px;
}

.service.template {
    display: none;
}

.service .checkmark {
    position: relative;
    display: none;
    top: -61px;
    left: 43px;
}

.service .provider-icon {
    margin-left: 20px;
}

.service .spinner {
    position: relative;
    top: -35px;
    left: 0px;
}

.service .provider-name {
    margin-top: 4px;
    text-align: center;
    font-size: 11px;
    color: #bfbfbf;
    font-weight: bold;
    
}

.service .provider-link.disabled {
    cursor: auto;
    opacity: .5;
}

#service-closer {
    background-image: url('../img/uparrows.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 90px;
    float: right;
    height: 20px;
    width: 36px;
    background-color: #7b7b7b;
    cursor: pointer;
}

.gray {
    color: #555;
}

#appFrame {
    width: 100%;
    height: 100%;
}
