html,body {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: #ebebeb;
    font-family: arial, helvetica, sans-serif;
}

#fdbk_screen {
    height: 100% !important;
}

.header {
    position: relative;
    border: 0;
    height: 45px;
    color: white;
    background: rgb(120,180,226); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(120,180,226,1) 0%, rgba(38,97,124,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,180,226,1)), color-stop(100%,rgba(38,97,124,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(120,180,226,1) 0%,rgba(38,97,124,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(120,180,226,1) 0%,rgba(38,97,124,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(120,180,226,1) 0%,rgba(38,97,124,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78b4e2', endColorstr='#26617c',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(120,180,226,1) 0%,rgba(38,97,124,1) 100%); /* W3C */
    -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}



.header .headerTitle {
    line-height: 45px;
    margin-left: 100px;
    font-weight: bold;
    text-align: left;
    text-shadow: none;
    font-size: 1.2em;
}

.header .home-logo {
    float: left;
    margin-left: 25px;
    margin-top: 5px;
    cursor: pointer;
}

.header .divider {
    margin-top:8px;
    margin-left:3px;
    float:left;
}

.app-link {
    color: white;
    font-size: 12px;
    border-radius: 3px;
    padding: 4px 10px;
    height:20px;
    margin-top:8px;
    text-align:center;
    text-transform: uppercase;
    width:65px;
    margin-left: 5px;
    float:left;
    vertical-align:middle;
    overflow:hidden;
}

.app-link-floater {
    float:left;
    height:50%;
    margin-bottom:-0.5em;
}

.app-link-centerer {
    clear:both;
    height:1em;
    position:relative;
}

.buttonCounter {
    font-size:10px;
    display:none;
}

.app-link a {
    color:white;
}

.app-links {
    float: left;
    margin-left: 0px;
    height:40px;
}

.app-link:hover {
    background-color: #4d4d4d;
    box-shadow: inset 0 1px 3px 1px rgba(0,0,0,0.36);
}

.app-link.selected {
    background: #ebebeb;
    color: #444;
    -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.app-link.selected a {
    color:#444;
}

#nav-search {
    clear: right;
    position: relative;
    float: left;
}

#nav-search .template {
    display: none;
}

#nav-search input.search {
    font-size: 16px;
    color: #999;
    padding: 4px;
    padding-left:30px;
    width:300px;
    margin: 9px 0 0 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background: rgb(255,255,255) url('../img/search_glass.png') left center no-repeat; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))) url('../img/search_glass.png') left center no-repeat; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) url('../img/search_glass.png') left center no-repeat; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) url('../img/search_glass.png') left center no-repeat; /* W3C */
    -moz-box-shadow:inset 2px 2px 5px #ccc;
    box-shadow:inset 2px 2px 5px #ccc;
    border: 1px solid #888;
    outline: none;
}

#nav-search input.search.populated {
    -moz-box-shadow:inset 2px 2px 5px #ccc, 2px 2px 2px 0px #888;
    box-shadow:inset 2px 2px 5px #ccc, 2px 2px 2px 0px #888;
    padding-bottom: 4px;

}

#search-results {
    display: none;
    width: 314px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -khtml-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #888;
    top: 34px;
    left: 15px;
    position: absolute;
    -moz-box-shadow:inset 2px -2px 5px #ccc, 2px 2px 2px 0px #888;
    box-shadow:inset 2px -2px 5px #ccc, 2px 2px 2px 0px #888;
    background-color: white;
    z-index: 10;
    padding: 0px 10px 10px 10px;
}

#search-results .highlighted {
    background: rgba(120, 180, 225, .5);
}

#search-results .search-header-row {
    margin-top: 10px;
    height: 36px;
    color: #bbbbbb;
    cursor: pointer;
    padding: 0px 5px;
    display: none;
}

#search-results .search-header-row .header-title {
    float: left;
    font-size: 16px;
    line-height: 36px;
}

#search-results .search-header-row .count {
    font-size: 12px;
    color: #bbbbbb;
}

#search-results .search-header-row .see-all {
    float: right;
    font-size: 14px;
    line-height: 36px;
}

#search-results .search-result-row {
    margin-top: 1px;
    height: 36px;
    cursor: pointer;
}

#search-results .search-result-row .search-result {
    margin-left: 5px;
    float: left;
    height: 36px;
    color: #333;
    width: 268px;
    text-overflow: ellipsis;
    o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 36px;
}

#search-results .search-result-row .search-result-icon {
    float: left;
    height: 36px;
}

.app-page .header {
    border-bottom: solid 1px #4d4d4d;
}

.services-box-container {
    position: absolute;
    height: 1.5em;
    overflow: hidden;
    right:10px;
    top:44px;
    z-index:10;
}

.services-box {
    cursor: pointer;
    float: right;
    background-color: rgba(38, 97, 124, 0.7);
    border:1px solid #4d4d4d;
    border-top:0;
    padding: 5px;
    font-size: .7em;
    color:white;
    z-index:1;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
}

.services-top-spacer {
    height:0.8em;
}

#services {
    position: relative;
    background-color: #313131;
    height: 0px;
    box-shadow: inset 0px 5px 5px black;
    overflow: hidden;
}

#choose-services {
    background-image: url('../img/arrow.png');
    width: 244px;
    height: 55px;
    margin-top: 30px;
    line-height: 46px;
    color: white;
    padding-left: 10px;
    font-weight: bold;
    float: left;
}

#service-selector {
    background-color: #535353;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    padding: 0px 15px;
    height: 80px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, .1);
}

.service {
    width: 76px;
    float: left;
    margin-top: 13px;
}

.service.template {
    display: none;
}

.service .checkmark {
    position: relative;
    display: none;
    top: -61px;
    left: 43px;
}

.service .provider-icon {
    margin-left: 20px;
}

.service .provider-name {
    margin-top: 4px;
    text-align: center;
    font-size: 11px;
    color: #bfbfbf;
    font-weight: bold;

}

.service .provider-link.disabled {
    cursor: auto;
    opacity: .5;
}

#service-closer {
    background-image: url('../img/uparrows.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 90px;
    float: right;
    height: 20px;
    width: 36px;
    background-color: #7b7b7b;
    cursor: pointer;
}

.gray {
    color: #555;
}

#appFrame {
    width: 100%;
    height: 100%;
}

#counters {
    position:absolute;
    right:20px;
    top:6px;
    font-size:10px;
}

.tooltip {
    display:none;
    background:transparent url(../img/white_arrow.png) no-repeat;
    font-size:80%;
    height:122px;
    width:209px;
}

.tooltip div {
    margin:12px;
    margin-top:45px;
    word-wrap:break-word;
    color:#000;
    text-align:center;
    font-weight: bold;
}

.tooltip .lastUpdated {
    font-size: 10px;
    margin-top: 10px;
    font-weight: normal;
}

#customLogout {
    right:0;
    top:0;
    height:45px;
    font-size:80%;
    position:absolute;
    z-index:9999;
    display:none;
}

.userMenuHover {
    background-color:rgba(120,180,226,0.5);
}

#menuExpander {
    top:50%;
    height:1em;
    margin-left:5px;
    margin-top:-0.5em;
    position:absolute;
}

.userMenu {
    background-color:white;
    color:black;
    right:0px;
    border:2px solid rgba(120,180,226,1);
    border-bottom:0px;
}

.signout-link {
    height:1em;
    margin:0.5em;
    padding:0.5em;
}

.signout-link:hover {
    background-color: #CCC;
}

#userMenu {
    display:none;
    margin-top:45px;
    background-color:white;
    border:2px solid rgba(120,180,226,1);
    border-top:1px solid rgba(38,97,124,1);
    border-top:0;
    margin-left:-2px;
    margin-right:2px;
    z-index:9999;
}

#menuExpander .expander {
    font-size:50%;
    position:absolute;
    right:10px;
    top:2px;
}

#userMenu .user-name {
    font-weight:bold;
    padding-left:5px;
}


#iframeWrapper {
    position: relative;
}

/*guided setup stuff*/
.blur {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
    width: 100%;
    height: 100%;
}

.lightbox {
    position: relative;
    background-color: white;
    border: solid 1px #000;
    width: 700px;
    height: 400px;
    margin: 100px auto;
    -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.lightbox .close-box {
    position: absolute;
    top: -13px;
    right: -14px;
    cursor: pointer;
    z-index: 5;
}

.lightbox .contents {
    width: 680px;
    margin: 9px;
    height: 380px;
    border: solid 1px #000;
    background-color: #313131;
    box-shadow: inset 0px 5px 5px black;
}

.lightbox .header {
    overflow: hidden;
}

.lightbox .header-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.lightbox .forward {
    background: #ebebeb;
    color: #444;
    -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    font-size: 12px;
    border-radius: 3px;
    height: 30px;
    width: 65px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.lightbox .forward.disabled {
    background: #555 !important;
    cursor: auto;
    color: #222 !important;
    -moz-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.lightbox .forward:hover {
    background: #ffffff;
    color: #000;
}

.lightbox .forward-button-text {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
    text-align: center;
    line-height: 30px;
}

.lightbox .tip {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #bbb;
    font-size: 13px;
}

.lightbox .body p {
    color: #bbb;
    font-size: 16px;
    margin: 20px;
}
