
/* Dashboard Stylesheet --------------------------------------------------- */

body
{
  background: rgba(0, 0, 0, 0.025);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a
{
  text-decoration: none;
}

/* Header ----------------------------------------------------------------- */

body > header
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;

  background-color: white;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  -webkit-user-select: none;
  -moz-user-select: none;
}

/*
body > header:after
{
  content: "";
  position: absolute;
  bottom: -58px;
  left: 0;
  right: 0;
  height: 56px;
  background-image: -webkit-radial-gradient(50% 0%, ellipse, rgba(0, 0, 0, 0.1), transparent 75%);
  overflow: hidden;
  border-top: 1px solid white;
}
*/

body > header > h1
{
  position: relative;
  float: left;
  height: 64px;
}

body > header > h1:after
{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-image: -webkit-radial-gradient(50% 50%, rgba(0, 0, 0, 0.15), transparent 50%);
  background-image: -moz-radial-gradient(50% 50%, rgba(0, 0, 0, 0.15), transparent 50%);
  background-image: -ms-radial-gradient(50% 50%, rgba(0, 0, 0, 0.15), transparent 50%);
  background-image: -o-radial-gradient(50% 50%, rgba(0, 0, 0, 0.15), transparent 50%);
  background-image: radial-gradient(50% 50%, rgba(0, 0, 0, 0.15), transparent 50%);
}

/* Application Links ------------------------------------------------------ */

nav#application-navigation
{
  position: relative;
  float: left;
  height: 64px;
  font-size: 90%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
}

nav#application-navigation a
{
  color: rgba(0, 0, 0, 0.5);
}

nav#application-navigation > ul
{
  position: relative;
}

nav#application-navigation > ul:before
{
  float: left;
  content: "My";
  line-height: 64px;
  color: rgba(0, 0, 0, 0.25);
}

nav#application-navigation > ul > li
{
  float: left;
  margin-left: 14px;
  height: 26px;
  line-height: 26px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 18px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  cursor: pointer;
  border: 1px solid transparent;
}

.app-link:hover
{
  background-color: rgba(0, 0, 0, 0.025);
}

.app-link.selected
{
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75),
    inset 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75),
    inset 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75),
    inset 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.35);
}

.app-link.selected a {
  color: #444;
}

.app-link .label
{
  float: left;
}

.app-link .buttonCounter
{
  float: right;
  font-weight: bold;
  font-size: 10px;
  line-height: inherit;
  background-color: rgba(0, 0, 0, 0.025);
  padding: 2px 4px;
  margin-left: 2px;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 12px;
  margin-top: 5px;
  margin-left: 6px;
  color: rgb(175, 175, 175);
}

.app-link.selected .buttonCounter
{
  background-color: white;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 1px 0 0 rgba(0, 0, 0, 0.05),
    inset -1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 1px 0 0 rgba(0, 0, 0, 0.05),
    inset -1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 1px 0 0 rgba(0, 0, 0, 0.05),
    inset -1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  color: rgb(125, 125, 125);
}

/* Global Search ---------------------------------------------------------- */

.search-box-container
{
  display: none;
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
}

.search-box-container:hover
{
  opacity: 0.8;
}

#nav-search
{
  position: relative;
  float: right;
  margin-right: 20px;
}

#nav-search .template
{
  display: none;
}

#nav-search input.search
{
  position: relative;

  width: 256px;
  height: 24px;
  padding-top: 5px;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);

  -webkit-appearance: textfield;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 0 rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 0 rgba(255, 255, 255, 1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 0 rgba(255, 255, 255, 1);

  border-radius: 16px;
  font-size: 12px;
  padding: 2px 4px;
  background-color: white;
  z-index: 1000;
}

#nav-search input.search:focus
{
  outline: none;
}

#nav-search input.search.populated
{
/*
  -moz-box-shadow: inset 2px 2px 5px #ccc, 2px 2px 2px 0px #888;
  box-shadow: inset 2px 2px 5px #ccc, 2px 2px 2px 0px #888;
  padding-bottom: 4px;
*/
}

#search-results
{
  display: none;
  position: absolute;
  top: 14px;
  left: 14px;

  width: 254px;
  padding: 6px;
  padding-top: 36px;

  border: 1px solid rgb(175, 175, 175); /*rgba(0, 0, 0, 0.15); */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: rgb(200, 200, 200); /*rgba(0, 0, 0, 0.15);*/

  z-index: 101;
  font-size: 10px;

  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75),
    inset 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.35),
    0 0 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75),
    inset 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.35),
    0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75),
    inset 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.35),
    0 0 6px rgba(0, 0, 0, 0.1);
}

#search-results .message
{
  display: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: rgb(200, 200, 200);
  padding: 14px;
}

#search-results.no-results .message
{
  display: block;
}

#search-results .highlighted
{
  background: rgba(120, 180, 225, .5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#search-results .search-results-wrapper
{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
}

#search-results.no-results .search-results-wrapper
{
  display: none;
}

#search-results .search-header-row
{
  height: 24px;
  cursor: pointer;
  padding: 0px 5px;
  display: none;
  clear: both;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: rgb(125, 125, 125);
}

#search-results .search-header-row .header-title
{
  float: left;
  font-size: 14px;
  line-height: 24px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

#search-results .search-header-row .count
{
  font-size: 12px;
  color: #bbbbbb;
}

#search-results .search-header-row .see-all
{
  float: right;
  font-size: 11px;
  line-height: 24px;
}

#search-results .search-result-row
{
  position: relative;
  margin-top: 1px;
  height: 36px;
  cursor: pointer;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px;
}

#search-results .search-result-row .search-result
{
  position: absolute;
  top: 0;
  left: 34px;
  right: 0;
  bottom: 0;

  padding-left: 6px;
  padding-right: 6px;

  height: 36px;
  line-height: 36px;

  font-size: 12px;
  color: #333;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-results .search-result-row .icon-box
{
  position: absolute;
  left: 2px;
  top: 2px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#search-results .search-result-row .icon-box img
{
  position: absolute;
  height: 32px;
  width: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#search-results .search-result-row .icon-box img.favicon
{
  position: absolute;
  height: 16px;
  width: 16px;
  margin-top: 8px;
  margin-left: 8px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* Services Drawer -------------------------------------------------------- */

.services-box-container
{
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.services-box-container:hover,
.services-box-container.active
{
  opacity: 0.8;
}

.services-box
{
}

#services
{
  display: none;
  z-index: 99;
  position: absolute;
  top: 64px;
  left: -48px;
  right: -48px;
  height: 0px;
  padding-left: 48px;
  padding-right: 48px;
  background-color: #313131;
  background-image: url('../img/services-background.png');
  box-shadow: inset 0px 0px 32px black;
  overflow: scroll-x;
  border-bottom: 1px solid black;
  border-top: 1px solid black;

  -webkit-user-select: none;
  -moz-user-select: none;
}

#services:before
{
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

#choose-services
{
  background-image: url('../img/arrow.png');
  background-position: -192px 50%;
  background-repeat: no-repeat;
  width: 160px;
  height: 96px;
  line-height: 96px;
  color: white;
  padding-left: 20px;
  font-weight: bold;
  float: left;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#service-selector
{
  float: left;
  height: 96px;
}

.service
{
  margin-top: 22px;
  width: 96px;
  float: left;
  text-align: center;
}

.service.template
{
  display: none;
}

.service .checkmark
{
  position: relative;
  display: none;
  top: -65px;
  left: 20px;
}

.service .provider-icon
{
}

.service .provider-name
{
  margin-top: 6px;
  font-size: 11px;
  color: #eee;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}

.service .provider-link.disabled
{
  cursor: default;
  opacity: .5;
}

/* Custom Logout / User Menu ---------------------------------------------- */

#customLogout
{
  display: none;
  position: relative;
  top: 50%;

  float: right;

  height: 24px;
  line-height: 24px;

  margin-top: -13px;
  margin-left: 21px;
  margin-right: 20px;
  padding-right: 24px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  background-color: rgba(0, 0, 0, 0.15);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.25));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.25));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.25));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.25));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.25));

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
    inset 1px 0 0 rgba(255, 255, 255, 0.8),
    inset -1px 0 0 rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
    inset 1px 0 0 rgba(255, 255, 255, 0.8),
    inset -1px 0 0 rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
    inset 1px 0 0 rgba(255, 255, 255, 0.8),
    inset -1px 0 0 rgba(255, 255, 255, 0.8);

  font-size: 80%;
  color: rgb(100, 100, 100);
  cursor: default;

  z-index: 100;

  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-transition: 0.5s color;
  -moz-transition: 0.5s color;
  -ms-transition: 0.5s color;
  -o-transition: 0.5s color;
  transition: 0.5s color;
}

#customLogout:hover
{
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  color: rgb(50, 50, 50);
}

#customLogout:active
{
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
}

#customLogout:before
{
  content: "";
  position: absolute;
  top: -20px;
  left: -22px;
  bottom: -20px;
  width: 1px;
  background-image: -webkit-radial-gradient(50% 50%, rgba(0, 0, 0, 0.15), transparent 50%);
  background-image: -moz-radial-gradient(50% 50%, rgba(0, 0, 0, 0.15), transparent 50%);
  background-image: -ms-radial-gradient(50% 50%, rgba(0, 0, 0, 0.15), transparent 50%);
  background-image: -o-radial-gradient(50% 50%, rgba(0, 0, 0, 0.15), transparent 50%);
  background-image: radial-gradient(50% 50%, rgba(0, 0, 0, 0.15), transparent 50%);
}

.userMenuHover
{
}

.userMenuActive
{
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)) !important;
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)) !important;
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)) !important;
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)) !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-bottom-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  color: rgb(50, 50, 50) !important;
}

.userEmail
{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* User Menu */

#userMenu
{
  display: none;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: 1px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  z-index: 9999;
  font-size: 11px;

  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#userMenu ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

#userMenu ul li
{
  line-height: 24px;
  font-weight: bold;
  margin: 1px;
}

#userMenu ul li a
{
  padding-left: 10px;
  color: rgb(50, 50, 50);
  display: block;
}

#userMenu ul li a:hover
{
  background-color: #8ADAEC;
}

#menuExpander
{
    cursor: pointer;
}

#menuExpander .expander
{
  font-size: 80%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

#menuExpander .expander:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

#userMenu .user-name
{
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* Viewers ---------------------------------------------------------------- */

#viewers
{
  width: 340px;
  z-index: 9999;
  position: absolute;
  top: 86px;
  bottom: 24px;
  left: -320px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #e7e7e8;
  opacity: 0.93;
  border: 1px solid transparent;
  -webkit-transition: border-color 0.5s, -webkit-box-shadow 0.5s;
  -moz-transition: border-color 0.5s, -moz-box-shadow 0.5s;
  -ms-transition: border-color 0.5s, box-shadow 0.5s;
  -o-transition: border-color 0.5s, -o-box-shadow 0.5s;
  transition: border-color 0.5s, box-shadow 0.5s;
}

#viewers:hover
{
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#viewers-slide-button
{
  margin-top: 3px;
  margin-right: 2px;
}

#viewers-title
{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  display: none;
}

.viewer {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}

.viewer-icon {
  width: 28px;
  height: 28px;
  float: left;
}

.viewer-author-link {
  margin-top: 6px;
  float: right;
}

.viewer-link.name {
  margin-left: 10px;
  position: relative;
  top: 6px;
}

.viewer-hover {
  float: right;
  display: block;
  padding: 10px;
}
.viewer-hover.selected,
.viewer.selected {
  background: #fff;
}
#viewers-hide-show {
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
}

#viewers-hover {
  display: block;
  width: 70px;
  height: 500px;
  margin-left: 250px;
}

#viewers-list {
  display: none;
}

.viewer.template {
  display: none;
}

.viewer-hover.template {
  display: none;
}

.gray {
  color: #555;
}

/* App Frame -------------------------------------------------------------- */

#iframeWrapper /* TODO rename */
{
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
/*  overflow: hidden;
*/}

#iframeWrapper:before
{
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  /*height: 65px;*/
  bottom: 0;
  background-image: -webkit-radial-gradient(50% 0%, ellipse, rgba(0, 0, 0, 0.1), transparent 75%);
  background-image: -moz-radial-gradient(50% 0%, ellipse, rgba(0, 0, 0, 0.1), transparent 75%);
  background-image: -ms-radial-gradient(50% 0%, ellipse, rgba(0, 0, 0, 0.1), transparent 75%);
  background-image: radial-gradient(50% 0%, ellipse, rgba(0, 0, 0, 0.1), transparent 75%);
  /* overflow: hidden; */
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  z-index: -1;
}

#appFrame
{
  width: 100%;
  height: 100%;
}

#counters
{
  position: absolute;
  right: 20px;
  top: 6px;
  font-size: 10px;
}

.tooltip
{
  display: none;
  background: transparent url(../img/white_arrow.png) no-repeat;
  font-size: 80%;
  height: 122px;
  width: 209px;
}

.tooltip div
{
  margin: 12px;
  margin-top: 45px;
  word-wrap: break-word;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.tooltip .lastUpdated
{
  font-size: 10px;
  margin-top: 10px;
  font-weight: normal;
}

/* Guided Setup / Lightbox ------------------------------------------------ */

#firstRun {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10000;
  background-color: rgba(0, 0, 0, .5);
}

#firstRun .welcomeContent {
  float:left;
  border-right:1px solid #ccc;
  width:50%;
  height:100%;
}

.welcomeContent .innerWelcome {
  margin-top:10px;
}

.welcomeContent ul {
  margin-left:20px;
  list-style-type:disc;
  font-size:14px;
}

.welcomeContent ul li {
  margin-top:5px;
  margin-bottom:5px;
}

#firstRun .firstChoice {
  margin-left:50%;
  margin-top:10px;
  padding:10px;
}

.firstChoice ul {
  list-style:none;
  margin-left:40px;
  margin-bottom:10px;
}

.firstChoice ul li {
  display:inline;
  margin-right:20px;
}

#firstRun h3 {
  font-size:20px;
  text-align:center;
  font-weight:bold;
}
.firstChoice p {
  font-size:12px;
  margin-bottom:20px;
}

#moreFirstOptions {
  display:block;
  position:relative;
  right:0;
  text-align:right;
  font-size:12px;
  color:#666;
}
.blur {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.lightbox {
  position: relative;
  background-color: white;
  border: solid 2px black;
  width: 400px;
  height: 200px;
  margin: 150px auto;
  -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
  padding:10px;
}

.lightbox .close-box {
  position: absolute;
  top: -13px;
  right: -14px;
  cursor: pointer;
  z-index: 5;
}

.lightbox .contents {
  width: 680px;
  margin: 9px;
  height: 380px;
  border: solid 1px #000;
  background-color: #313131;
  box-shadow: inset 0px 5px 5px black;
}

.lightbox .header {
  overflow: hidden;
}

.lightbox .header-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.lightbox .forward {
  background: #ebebeb;
  color: #444;
  -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
  font-size: 12px;
  border-radius: 3px;
  height: 30px;
  width: 65px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.lightbox .forward.disabled {
  background: #555 !important;
  cursor: auto;
  color: #222 !important;
  -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.lightbox .forward:hover {
  background: #ffffff;
  color: #000;
}

.lightbox .forward-button-text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

.lightbox .tip {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #bbb;
  font-size: 13px;
}

.lightbox .body p {
  color: #bbb;
  font-size: 16px;
  margin: 20px;
}

/* GetSatisfaction Feedback Widget ---------------------------------------- */

#fdbk_screen {
  height: 100% !important;
}
