/* Get stylin here */
body { margin: 10px; }

.photo {
    margin: 10px;
    margin-bottom: 8px;
    padding; 0px;
    max-width: 285px;
}

.photo img {
    box-shadow: 1px 0px 5px rgba(0,0,0,0.7);   
    width: 285px;
}

.photo .basic-data {
    display: none;
}

.photo:hover .basic-data {
    display: block;
    padding: 10px;
    margin-top: 0px;
    position: absolute;
    bottom: 3px;
    font-size: 12px;
    color: #000;
    background: rgba(255,255,255,0.8);
}

#moarphotos {
    width: 100%;
    font-size: 20px;
}
    