/*-----------------------------
RESET STYLES
-----------------------------*/

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
	-webkit-text-size-adjust:none; /* This stops the iPhone from automatically changing the size of the text when you flip the phone */
	background-color: rgba(38,38,38,1.0);
	}
body{
	font-size: 62.5%; /* 62.5% means 1em = 10px */
		
	}
ul, li, ol, dl, dd, dt{
	list-style:none;
	padding:0;
	margin:0;
	}
a{
	text-decoration:none;
	}
 
/*-----------------------------
	SITE SPECIFIC STYLES
-----------------------------*/

body{
	font-family: Helvetica; /* Helvetica is on the iPhone already, so you may as well take advantage */
	color:#000;
	height: 480px;
	}
p{
	font-size:12px;
	padding-bottom:8px;
	}
a{
	color:#fff000;
	text-decoration:none;
	}

/*-----------------------------
	HEADINGS
-----------------------------*/

h1{
	font-size: 24px;
	text-shadow
	color: #000;
	padding-left: 10px;
	padding-top: 0px;
	text-shadow: 0px 1px 1px #fff;
	
	
	
	}
	
#logo {

background-image: url('images/bg_slice.png');
height: 60px;
padding-left:15px;
margin-bottom: 0px;

}

#logo img{

margin-top: 20px;



}

/*-----------------------------
	BASIC LAYOUT
-----------------------------*/

#page_wrapper{
	padding-top:10px;

	overflow:auto;
	}
	
/*-----------------------------
	ORIENTATION CLEVERNESS
-----------------------------*/

#content_left,
#content_right,
#content_normal,
#content_flipped{
	display:none;
	}
.show_normal,
.show_flipped{
	width:320px;
	}
.show_left,
.show_right{
	width:480px;
	}

.show_left #content_left,
.show_right #content_right,
.show_normal #content_normal,
.show_flipped #content_flipped{
	display:block;
	}
	
	
	
	/* max */
	
	.ui-flickable-container {height:80px;}
	
	ul li img {
            
            width: 80px;
            height: 80px;
            border: none;
            

      }
	
	  #twitter_slider {
        border: 1px solid #333;
        width: 470px;
        height: 80px;
        overflow: hidden;
        
      }
      #twitter_slider ul {
        list-style: none;
        width: 2000px;
        margin: 0;
        padding: 0px;
        
      }
      #twitter_slider ul li {

        height: 80px;
        width: 80px;
        margin: 0px;
        float: left;
        font-size: 20px;
        color: #fff;
        
      }

      
   
      
      #twitter_slider ul li.title {
      
   /* Gecko */
background-image: -moz-linear-gradient(top, #6ac8e8 #3084a1);
/* Safari 4+, Chrome 1+ */
background-image: -webkit-gradient(linear, left top, left bottom, from(#6ac8e8), to(#3084a1));
/* Safari 5.1+, Chrome 10+ */
background-image: -webkit-linear-gradient(top, #6ac8e8, #3084a1);
/* Opera */
background-image: -o-linear-gradient(top, #6ac8e8, #3084a1);
      width:175px;
      height: 52px;
      -webkit-box-shadow: 0 1px 3px 4px #000;
-webkit-box-shadow: 4px 2px  #222,  -4px 0 2px #222;   
-moz-box-shadow: 4px 0 2px #222,  -4px 0 2px #222;   
box-shadow: 4px 0 2px #222,  -4px 0 2px #222;  
padding-top:28px;
padding-left: 15px;
 
      }
      
            #twitter_slider ul li.title img {
            width:114px;
            height: 28px;

      }
      

      #twitter_slider .space {
        width: 140px;
        height: 100px;
        padding: 0px;
      }
      
      #twitter_slider .ui-flickable-container {
        cursor: pointer;
      }
	
		  #facebook_slider {
        border: 1px solid #333;
        width: 470px;
        height: 80px;
        overflow: hidden;
      }
      #facebook_slider ul {
        list-style: none;
        width: 2000px;
        margin: 0;
        padding: 0px;
      }
      #facebook_slider ul li {

        height: 80px;
        width: 80px;
        margin: 0px;
        padding: 0px;
        float: left;
        font-size: 20px;
        color: #fff;
      }

      
   
      
      #facebook_slider ul li.title {
      
   /* Gecko */
background-image: -moz-linear-gradient(top, #6ac8e8 #3084a1);
/* Safari 4+, Chrome 1+ */
background-image: -webkit-gradient(linear, left top, left bottom, from(#6ac8e8), to(#3084a1));
/* Safari 5.1+, Chrome 10+ */
background-image: -webkit-linear-gradient(top, #6ac8e8, #3084a1);
/* Opera */
background-image: -o-linear-gradient(top, #6ac8e8, #3084a1);
      width:175px;
      -webkit-box-shadow: 0 1px 3px 4px #000;
box-shadow: 0 1px 3px 4px #000; 
padding-top:28px;
padding-left: 15px;
      }
      
            #facebook_slider ul li.title img {
            margin-top:-5px;
            width: 132px;
            height: 36px;
      

      }
      

      #facebook_slider .space {
        width: 140px;
        height: 100px;
        padding: 0px;
      }
      #facebook_slider .ui-flickable-container {
        cursor: pointer;
      }
      

      #insta_slider {
        border: 1px solid #333;
        width: 470px;
        height: 80px;
        overflow: hidden;
      }
      #insta_slider ul {
        list-style: none;
        width: 2000px;
        margin: 0;
        padding: 0px;
      }
      #insta_slider ul li {

        height: 80px;
        width: 80px;
        margin: 0px;
        padding: 0px;
        float: left;
        font-size: 20px;
        color: #fff;
      }

      
   
      
      #insta_slider ul li.title {
/* Gecko */
background-image: -moz-linear-gradient(top, #aaa5b8 #6d6474);
/* Safari 4+, Chrome 1+ */
background-image: -webkit-gradient(linear, left top, left bottom, from(#aaa5b8), to(#6d6474));
/* Safari 5.1+, Chrome 10+ */
background-image: -webkit-linear-gradient(top, #aaa5b8, #6d6474);
/* Opera */
background-image: -o-linear-gradient(top, #aaa5b8, #6d6474);
      width:175px;
      -webkit-box-shadow: 0 1px 3px 4px #000;
box-shadow: 0 1px 3px 4px #000; 
padding-top:28px;
padding-left: 15px;

      }
      
            #insta_slider ul li.title img {
width: 138px;
height: 33px;
margin-top: -5px;
      }
      

      #insta_slider .space {
        width: 140px;
        height: 100px;
        padding: 0px;
      }
      #insta_slider .ui-flickable-container {
        cursor: pointer;
      }
      
      
      
        #flickr_slider {
        border: 1px solid #333;
        width: 470px;
        height: 80px;
        overflow: hidden;
      }
      #flickr_slider ul {
        list-style: none;
        width: 2000px;
        margin: 0;
        padding: 0px;
      }
      #flickr_slider ul li {

        height: 80px;
        width: 80px;
        margin: 0px;
        padding: 0px;
        float: left;
        font-size: 20px;
        color: #fff;
        float: left;
      }

      
   
      
      #flickr_slider ul li.title {
/* Gecko */
background-image: -moz-linear-gradient(top, #f162ab #a9276a);
/* Safari 4+, Chrome 1+ */
background-image: -webkit-gradient(linear, left top, left bottom, from(#f162ab), to(#a9276a));
/* Safari 5.1+, Chrome 10+ */
background-image: -webkit-linear-gradient(top, #f162ab, #a9276a);
/* Opera */
background-image: -o-linear-gradient(top, #f162ab, #a9276a);
      width:175px;
      height: 80px;
      -webkit-box-shadow: 0 1px 3px 4px #000;
box-shadow: 0 1px 3px 4px #000; 
padding-top:28px;
padding-left: 15px;

      }
      
                  #flickr_slider ul li.title img {
width: 107px;
height: 18px;
margin-top: 5px;
      }
      

      #flickr_slider .space {
        width: 140px;
        height: 100px;
        padding: 0px;
      }
      #flickr_slider .ui-flickable-container {
        cursor: pointer;
      }
      
      
      
      

body.ps-active 
{
	-webkit-text-size-adjust: none;
	overflow: hidden;
}
body.ps-active * 
{ 
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
body.ps-active *:focus 
{ 
	outline: 0; 
}


/* Document overlay */
div.ps-document-overlay 
{
	background: #000;
}


/* Viewport */
div.ps-viewport 
{
	background: #000;
	cursor: pointer;
}


/* Zoom/pan/rotate layer */
div.ps-zoom-pan-rotate{
	background: #000;
}


/* Slider */
div.ps-slider-item-loading 
{ 
	background: url(images/gallery-loader.gif) no-repeat center center; 
}


/* Caption */
div.ps-caption
{ 
	background: #000000;
	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
	border-bottom: 1px solid #42403f;
	color: #ffffff;
	font-size: 13px;
	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
	text-align: center;
}

div.ps-caption-bottom
{ 
	border-top: 1px solid #42403f;
	border-bottom: none;
	min-height: 44px;
}

div.ps-caption-content
{
	padding: 13px;
}


/* Toolbar */
div.ps-toolbar
{ 
	background: #000000;
	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
	border-top: 1px solid #42403f;
	color: #ffffff;
	font-size: 13px;
	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
	text-align: center;
	height: 44px;
	display: table;
	table-layout: fixed;
}

div.ps-toolbar-top 
{
	border-bottom: 1px solid #42403f;
	border-top: none;
}

div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play
{
	cursor: pointer;
	display: table-cell;
}

div.ps-toolbar div div.ps-toolbar-content
{
	width: 44px;
	height: 44px;
	margin: 0 auto 0;
	background-image: url(images/gallery-icons.png);
	background-repeat: no-repeat;
}

div.ps-toolbar-close div.ps-toolbar-content
{
	background-position: 0 0;
}

div.ps-toolbar-previous div.ps-toolbar-content
{
	background-position: -44px 0;
}

div.ps-toolbar-previous-disabled div.ps-toolbar-content
{
	background-position: -44px -44px;
}

div.ps-toolbar-next div.ps-toolbar-content
{
	background-position: -132px 0;
}

div.ps-toolbar-next-disabled div.ps-toolbar-content
{
	background-position: -132px -44px;
}

div.ps-toolbar-play div.ps-toolbar-content
{
	display:none;
}

/* Hi-res display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
	div.ps-toolbar div div.ps-toolbar-content
	{
		-moz-background-size: 176px 88px;
		-o-background-size: 176px 88px;
		-webkit-background-size: 176px 88px;
		background-size: 176px 88px;
		background-image: url(images/gallery-icons@2x.png);
	}
}

@media all and (orientation:landscape) {
    body {
        width:auto;
        height: 500px;
/*         background-color: blue; */
        
    }
    
            #flickr_slider, #insta_slider, #twitter_slider, #facebook_slider {
        width: auto;
 
      }
    
}
@media all and (orientation:portrait) {
    body {
        
       width:250px;
       height:480px;
        
    }
}
