table {
    border-spacing:0;
    border-width: 0 0 1px 1px;
    border-style: solid;
    width:1600px;
}

td {
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    margin: 0;
    padding: 3px;
    overflow:hidden;
    width:10px;
}

td.desc {
    width:6000px;
}

td.action {
    width:3000px;
}