/* global */

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
               "Helvetica Neue", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 24px;
}

h2 {
    font-size: 20px;
}

input.search {
    font-size: 20px;
    width: 200px;
}

.count {
    color: #555;
}

#nav-search {
    overflow: hidden;
}