<ul class="breadcrumb">
  <li><a class='parentLink' href='explore#exploreApps'>App Gallery</a></li>
  <% if (breadcrumb == 'featured') { %>
    <li><a class='parentLink' href='explore#exploreApps&featured'>Featured</a></li>
  <% } else { %>
    <li><a class='<% if (!app.repository) { %> blue <% } %> parentLink' href='explore#exploreApps&author&author=<%= breadcrumb %>'>by <%= breadcrumb %></li>
  <% } %>
  <% if (app && app.repository) { %>
    <li><a class='blue parentLink' href='explore#registryApp&<%= app.repository.title %>'><%= app.repository.title %></a></li>
  <% } %>
</ul>
