<ul class="breadcrumb">
  <li><a class='iframeLink' href='explore'>App Gallery</a></li>
  <li><a class='iframeLink' href='explore#exploreApps&<%= breadcrumb %>'><%= breadcrumb.charAt(0).toUpperCase() + breadcrumb.slice(1) %></a></li>
  <li><a class='blue iframeLink' href='explore#registryApp&<%= app.repository.title %>'><%= app.repository.title %></a></li>
</ul>
