<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <link rel="stylesheet" href="css/develop.css" />
    <script src="js/develop.js"></script>
    <script src="js/locker.js"></script>
    <script src="js/connect.js"></script>
  </head>
  <body>
    <content class="body">
      <div id="main-header-1">
        <h1>Templates + Icons</h1>
        <%- partial('iframe/developnav_partial') %>
    </content>
  </body>
</html>
