<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <link rel="stylesheet" href="css/develop.css" />
    <script src="js/develop.js"></script>
    <script src="js/locker.js"></script>
    <script src="js/connect.js"></script>
  </head>
  <body>
    <content class="body">
      <div id="main-header-1">
        <h1>Chat with the Team!</h1>
        <%- partial('iframe/developnav_partial') %>
        <div id="chatwiththeteam-content">
          <p>
            If you’re curious about our platform, have specific questions, or
            need love and support, come chat with us in #lockerproject on
            irc.freenode.net.
          </p>
          <p>
            Look for the following handles to get a Singly team member:
          </p>

          <ul>
            <li><span>erictj</span> Eric Jennings</li>
            <li><span>kristjan</span> Kristján Pétursson</li>
            <li><span>mdz</span> Matt Zimmerman</li>
            <li><span>merc3po</span> Merci Victoria Grace</li>
            <li><span>othiym23</span> Forrest L. Norvell</li>
            <li><span>quartzjer</span> Jeremie Miller</li>
            <li><span>schutte</span> Lindsay Schutte Crittendon</li>
            <li><span>smurthas</span> Simon Murtha-Smith</li>
            <li><span>temas</span> Thomas Muldowney </li>
          </ul>
        </div>
    </content>
  </body>
</html>
