<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <link rel="stylesheet" href="css/develop.css" />
    <script src="js/develop.js"></script>
    <script src="js/locker.js"></script>
    <script src="js/connect.js"></script>
  </head>
  <body>
    <content class="body">
      <div id="main-header-1">
        <h1>Templates + Icons</h1>
        <%- partial('iframe/developnav_partial') %>
        <div id="templatesicons-content">
          <h2>Templates + Icons</h2>
          <img src="img/templates-icons.png" alt="">
          <p>
            We've put some
            <a href="https://www.dropbox.com/s/5574nqn2909a9kp">GUI templates</a>
            and <a href="https://www.dropbox.com/s/lzn6ddfc4ol53dp">icons</a> in
            folders on Dropbox for your easy access and use! We hope that this
            helps you get started!
          </p>
        </div>
    </content>
  </body>
</html>
