<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <link rel="stylesheet" href="css/develop.css" />
    <script src="js/develop.js"></script>
    <script src="js/locker.js"></script>
    <script src="js/connect.js"></script>
    <link rel="stylesheet" type="text/css" href="prettify/prettify.css" />
    <script type='text/javascript' src='prettify/prettify.js'></script>
    <script type="text/javascript" src="js/apiexplorer.js"></script>
  </head>
  <body>
    <content class="body">
      <div id="main-header-1">
        <h1>API Explorer</h1>
        <%- partial('iframe/developnav_partial') %>
        
        <form id="apiexplorer-form" onsubmit='$("#testButton").click(); return false;'>
        Choose an endpoint: <select id='curMethod'>
        </select>
        <div id='methodTemplate'>
          <h2 class='path'>/api/path</h2>
          <div class='operationDescription'></div>
          <div class='description'>
            <div class='notesBlock'><h3>Notes</h3><div class='notes'></div></div>
            <div class='parameters'>
              <h3>Parameters</h3>
              <ul>
                <li><span class='paramName'>param</span> - <span class='paramType'>type</span> - <span class='paramDescription'>some description</span></li>
              </ul>
            </div>
          </div>
          <div class='resultModel'>
            <h3>Results</h3>
            <ul class='resultEntry'>
              <li><span class='paramName'></span> - <span class='paramType'></span> - <span class='paramDescription'></span></li>
            </ul>
          </div>
          <hr />
          <div id='testParameters'>
            <div class='testParam'><span class='paramName'>test</span><input type='text' name='q' /><span class='testExample'></span></div>
          </div>
          <div id='testParametersSelect'>
            <div class='testParam'><span class='paramName'>test</span><select></select></div>
          </div>
          <input id='testButton' type='submit' name='testIt' value='Test It' />
          <div id='testInfo'>
            <a id='fullTestURL' target='_blank'></a>
            <div id='limitedResults'></div>
            <pre class='prettyprint'><code class='language-javascript'></code></pre>
            <img id='testResultImage' />
          </div>
        </div>
        </form>
    </content>
  </body>
</html>
