<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <link rel="stylesheet" href="css/develop.css" />
    <script src="js/connect.js"></script>
  </head>
  <body>
    <content class="body">
      <div id="main-header-1">
        <h2>Build an HTML5 web app that uses your personal data from APIs like Facebook, Twitter, and Instagram without having to write any server-side code.</h2>
        <div id="develop-nav">
          <div class="develop-nav-column">
            <div>Build an App</div>
            <div>API Explorer</div>
            <div>Publishing</div>
            <div>Example Apps</div>
          </div>
          <div class="develop-nav-column">
            <div>Forums</div>
            <div>Chat with the team!</div>
            <div>Templates + Icons</div>
            <div>The Locker Project</div>
          </div>
          <div class="develop-nav-column">
            <div>Help + FAQ</div>
          </div>
        </div>
    </content>
  </body>
</html>
