<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <link rel="stylesheet" href="css/develop.css" />
    <script src="js/develop.js"></script>
  </head>
  <body>
    <content class="body">
      <div id="main-header-1">
        <h2>Build an HTML5 web app that uses your personal data from APIs like Facebook, Twitter, and Instagram without having to write any server-side code.</h2>
        <%- partial('iframe/developnav_partial') %>
    </content>
  </body>
</html>
