<!DOCTYPE html>

<html>
  <head>

    <link rel="stylesheet/less" type="text/less" href="common/css/common.less">
    <link rel="stylesheet/less" type="text/less" href="css/connect.css">
    <link rel="stylesheet" type="text/css" href="prettify/prettify.css">
    <script type="text/javascript" src="js/common.js"></script>
    <script src="prettify/prettify.js" type="text/javascript"></script>
    <%- partial('header_partial') %>

    <link rel="stylesheet" href="css/develop.css" />
    <script src="js/develop.js"></script>
    <script src="js/locker.js"></script>
    <script src="js/connect.js"></script>

  </head>
  <body onload="prettyPrint()">
    <content class="body">
      <div id="main-header-1">
        <h1>
          Build an HTML5 web app that uses your personal data from APIs like Facebook, Twitter, and Instagram without
          having to write any server-side code.
        </h1>
        <%- partial('iframe/developnav_partial') %>
      </div>

      <ul>
        <li id='connect-github' class='hidden'><h2>Step 0: Connect GitHub</h2>
          <p>
            GitHub is used for automatically syncing apps you build to you Singly account, from there you will be
            able to publish them to the App Gallery
          </p>
          <ul>
            <li class="featured hideable" style="display: list-item; ">
              <div class="synclet-logoname-container">
                <img class="synclet-logo" src="/dashboard/img/icons/32px/github.png">
                <span class="synclet-name">GitHub</span>
              </div>
              <span class="oauthLink action-button" data-provider="github" data-width="1000" data-height="1000">Connect</span>
             <div class="gets-list">Gets: &nbsp;Contacts</div>
            </li>
          </ul>
        </li>

        <li><h2>Step 1: Build Your App</h2>
          <ul>
            <li><h3>Create a new repo on your local machine</h3>
              <p>
                (for help with this, check out
                <a class="orange" target="_blank" href="http://help.github.com/create-a-repo/">
                  GitHub's excellent doc
                </a>)
              </p>
            </li>

            <li><h3>Add a js/config.js</h3>
              <p>
                Before you can start, you need to add a config file with your
                <a class="orange iframeLink" href="settings#Settings-APIKey">API token</a> in it. This enables you to
                develop on your local machine while using data directly from your Singly account.
              </p>
              <pre id="token" class="prettyprint">baseUrl = 'https://api.singly.com/&lt;apikey&gt;';</pre>
            </li>

            <li><h3>Add an index.html file</h3>
              <p>For now, just put something simple and fun in there to make sure everything is working:</p>
<pre class="prettyprint">&lt;html&gt;
  &lt;head&gt;
    &lt;style&gt;
    img {
      /* upside down! */
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      max-width:300px;
      max-height:300px;
    }
    &lt;/style&gt;
    &lt;script type="text/javascript"&gt;
      // this (empty) value of baseUrl will be used on singly.com (resulting in a relative URL for all API calls),
      // the one set (later) in js/config.js will be used only for local development
      var baseUrl = '';
    &lt;/script&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"&gt;&lt;/script&gt;
    &lt;script src="js/config.js" type="text/javascript"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
      $(function() {
        // get some photos
        $.getJSON(baseUrl + '/Me/photos', {limit: 10}, function(photos) {
          console.log('found ' + photos.length + ' photos');
          // add them to the DOM
          for(var i in photos) {
            console.log('photo #' + i, photos[i]);
            $('body').append('&lt;img src="' + photos[i].url + '"&gt;');
          }
        });
      });
    &lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
            </li>

            <li><h3>Open index.html in a browser &mdash; it works!</h3>
              <p>It probably looks really ugly, but that's where you come in &mdash; <a class="orange iframeLink" href="develop#Develop-ApiExplorer">take it from here!</a></p>
            </li>
          </ul>
        </li>

        <li><h2>Step 2: Prepare to publish</h2>
          <p>
            Once you are ready to publish your app (or at least see it in your Singly account), you will need to add
            a package file and push your work to GitHub &mdash; it will sync from GitHub to your Singly account automatically.
          </p>
          <ul>
            <li><h3>Add a package.json file</h3>
              <p>
                The package.json file in the root directory of your app specifies some basic info about your app.
                Minimally, you need at least these fields populated:
              </p>
<pre class="prettyprint">
{
  "description": "See all my photos, but upside down!",
  "repository": {
    "title": "Upside Down Photos",
    "type": "app",
    "static": true,
    "uses": {
      "types": [ "photos" ],
      "services": [ "facebook", "twitter", "foursquare", "instagram" ]
    }
  }
}
</pre>
              <p>Without those fields populated, your app will not be synced to your Singly account. For more info
                 about the package.json file, see the <a class="orange iframeLink" href="develop#Develop-Publishing">
                 full publishing documentation</a>.
              </p>
            </li>
            <li><h3>Add a screenshot</h3>
              <p>Take a screenshot and put it in the root directory of your app as screenshot.png</p>
            </li>
            <li><h3>Push to GitHub:</h3>
              <p>Commit your changes and push to GitHub. Be sure to add js/config.js to the .gitignore:</p>
              <pre class="prettyprint">echo "js/config.js" > .gitignore<br>git add  .<br>git commit -m 'ready to go'<br>git push origin master</pre>
              <p>Your app will be synced to you Singly account automatically.</p>
            </li>
          </ul>
        </li>
        <li><h2>Step 3: Publish your app to the Singly App Gallery!</h2>
          <p>
            Once your app is synced to your Singly account, it will show up in the "Your Apps" section in the top
            left hand corner of the screen. Click on the app, make sure everything is working, and then click the
            PUBLISH button in the app header.
          </p>
          <br>
          <p>For more info, see the <a class="orange iframeLink" href="develop#Develop-Publishing">full publishing documentation</a></p>
        </li>
      </ul>

      <script>
      $(document).ready(function() {
        isGitHubConnected(function(isConnected) {
          if(isConnected) return;
          $('#connect-github').removeClass('hidden');
          pollForGitHubProfile(function(profile) {
            $('#connect-github').addClass('hidden');
          });
        });
      });
      </script>
    </content>
  </body>
</html>
