<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <script src="js/exploreApps.js"></script>
    <link rel="stylesheet" href="css/exploreApps.css" />
  </head>
  <body>
    <content class="body">
      <%- partial('iframe/breadcrumb') %>
    </content>
  </body>
</html>

