<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <link rel="stylesheet" href="css/settings-api.css" />
    <script src="js/settings.js"></script>
    <script src="common/js/jquery.jsonp-2.2.0.min.js"></script>
    <script src="<%= dashboard.customHostedEndpoint %>"></script>
  </head>
  <body>
    <content class="body">
    <div>
      <input type='text' id="apiToken" name='apiToken' value='' disabled='disabled' class='apiToken' />
    </div>
    <div class='apitokens-buttongroup'>
      <input type='button' id='showToken' name='showToken' value='Show API Token'
      class='showToken' />
      <input type='button' id='resetToken'name='resetToken' value='Reset API Token'
      class='resetToken' />
    </div>
    </content>
  </body>
</html>
