<div class="app-card gradient" data-id="{app.name}">
  <div class="left-side">
    <div class="description">{app.repository.desc}</div>
    <div class="screenshot" style="top: 0px; "><img src="https://burrow.singly.com/registry/{app.name}/screenshot.png"></div>
  </div>
  <div class="app-info">
    <p class="title">{app.repository.title}</p>
    <p class="author"><a class="orange iframeLink" href="#" data-id="Explore-Author-author={app.author.name}">by {app.author.name}</a></p>
    <p class="uses">
      {?app.repository.uses.types}Uses 
        {#app.repository.uses.types}
          <a class="blue iframeLink" href="#" data-id="Explore-Filter-
          types={.}">{.}</a>{@sep} + {/sep}
        {/app.repository.uses.types}
      {/app.repository.uses.types}
    </p>
      {?connect}Connect 
        {#connect}
          <a href="/auth/{.handle}" class="orange oauthLink" data-provider="{.handle}" data-width="{.oauthSize.width}" data-height="{.oauthSize.height}">{.title}</a>{@sep} + {/sep}
        {/connect}
      {/connect}
      
      {?app.actions}
        <div class='action-buttons'>
          {?app.actions.add}
            <input type='button' id='{app.name}' class='install' value='+ add to account'>
          {:else}
            <input disabled type='button' value='added'>
          {/app.actions.add}
        </div>
      {/app.actions}
  </div>
  
</div>