<span>
  <div class="full-app-details gradient">
    <div class="screenshot-container">
      <img src="https://burrow.singly.com/registry/{app.name}/screenshot.png">
    </div>
    <div class="full-app-info">
      {?app.actions}
        <div class='action-buttons'>
          {?app.actions.add}
            <input type='button' id='{app.name}' class='install' value='+ add to account'>
          {:else}
            <input disabled type='button' value='added'>
          {/app.actions.add}
              <!-- <a href="#" class="share-button twitter">TWEET THIS</a>
              <a href="#" class="share-button facebook">SHARE IT</a> -->
        </div>
      {/app.actions}
      <p class="title">{app.repository.title}</p>
      <p class="author"><a class="orange iframeLink" href="#" data-id="Explore-Author-author={app.author.name}">by {app.author.name}</a></p>
        <p class="uses">
          {?app.repository.uses.types}Uses 
            {#app.repository.uses.types}
              <a class="blue iframeLink" href="#" data-id="Explore-Filter-
              types={.}">{.}</a>{@sep} + {/sep}
            {/app.repository.uses.types}
          {/app.repository.uses.types}
        </p>
      <div class="description">{app.description}</div>
      <div class="last-update">last updated {app.updated}</div>
      
      {^app.actions}
        <div id="access-form">
          <span>
            <h3>Get access to this app!</h3>
            <form class='signup-form' action="signup_for_beta" method="get" accept-charset="utf-8">
              <input tabindex='40' type='text' name='email' value='' placeholder='Email' />{~n}
              <input tabindex='42' type='text' name='github' value='' placeholder='GitHub' />{~n}
              <input tabindex='41' type='checkbox' name='developer' /><label for='developer'>I'm a developer!</label>{~n}
              <input tabindex='43' type='submit' value='&nbsp;'>
            </form>
          </span>
        </div>
      {/app.actions}
    </div>
  </div>
</span>
