#container {
    padding: 10px;
}

#infoMsg {
    display:none;
    padding:4px;
    font-style:italic;
    text-align:center;
}

.info {
    border:1px dotted #666;
    background-color:#ccc;
    color:#666;
}

.error {
    border:1px dotted #D8000C;
    color: #D8000C;
    background-color: #FFBABA;    
}

#loading {
    font-style:italic;
}

/* Header styles*/
header {
    display:none; /* Default to hidden while we find the collection */
    margin-bottom:5px;
}

header h3 {
    margin:0;
    padding:2px;
}
header input#linksQuery {
    background-color:#f6f6f6;
    border:1px solid #dedede;
    width:250px;
}

#linkCounter {
}

/* Group Styles */
.dateInfo {
    background-color:#83C2EC;
    color:white;
    padding:2px;
    margin-bottom:5px;
    margin-top:5px;
}
#main {
/*    overflow:scroll;*/
}

/* Link Styles */
.linkInfo {
    clear:both;
}
.linkLine {
    padding-bottom:2px;
}
.providerIcon {
    float:left;
    height:16px;
    width:16px;
    vertical-align:middle;
}
.fullInfo {
    margin-left:16px;
    min-height:32px;
    padding:4px 4px 4px 6px;
    word-wrap:break-word;
}
.even {
    background-color:#e2e2e2;
}
.favicon {
    float:left;
    height:16px;
    width:16px;
    margin-top:4px;
}
a.expandedLink {
    color:#7f7f7f;
    margin-left: 4px;
    font-size:85%;
}
.linkDescription {
    padding:2px;
    font-size:95%;
}
.origLink {
    color:#666;
    font-size:85%;
    padding-left:4px;
}
.linkFrom {
    font-size:80%;
    color:#666;
}
.shiftDownDesc {
    /*line-height:32px;*/
}
/* Embed */
.embedView {
    display:none;
    margin:10px;
    font-size:80%;
}
.viewMore {
    font-size:75%;
}
