
/* LinkaLatte Stylesheet -------------------------------------------------- */

body
{
  margin: 0;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 20px;
}

#infoMsg {
    display:none;
    padding:4px;
    font-style:italic;
    text-align:center;
}

.info {
    border:1px dotted #666;
    background-color:#ccc;
    color:#666;
}

.error {
    border:1px dotted #D8000C;
    color: #D8000C;
    background-color: #FFBABA;
}

#loading {
    font-style:italic;
}

/* Header ----------------------------------------------------------------- */

body > header
{
  display: none; /* Default to hidden while we find the collection */
  margin-bottom: 20px;
}

body > header > h1
{
  margin: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  float: left;
}

body > header input#linksQuery
{
  float: left;
  background-color: #f6f6f6;
  border: 1px solid #dedede;
  width: 250px;
  margin-left: 22px;
  margin-top: 3px;
}

body > header:after
{
  content: "";
  display: block;
  clear: both;
}

/* Group Styles */
.dateInfo {
    background-color:#83C2EC;
    color:white;
    padding:2px;
    margin-bottom:5px;
    margin-top:5px;
}
#main {
/*    overflow:scroll;*/
}

/* Link Styles */
.linkInfo {
    clear:both;
}
.linkLine {
    padding-bottom:2px;
}
.providerIcon {
    float:left;
    height:16px;
    width:16px;
    vertical-align:middle;
}
.fullInfo {
    margin-left:16px;
    min-height:32px;
    padding:4px 4px 4px 6px;
    word-wrap:break-word;
}
.even {
    background-color:#e2e2e2;
}
.favicon {
    float:left;
    height:16px;
    width:16px;
    margin-top:4px;
}
a.expandedLink {
    color:#7f7f7f;
    margin-left: 4px;
    font-size:85%;
}
.linkDescription {
    padding:2px;
    font-size:95%;
}
.linkFrom {
    font-size:80%;
    color:#666;
}
.linkFrom a {
    text-decoration:none;
    color:#666;
}
.shiftDownDesc {
    /*line-height:32px;*/
}
/* Embed */
.embedView {
    display:none;
    margin:10px;
    font-size:80%;
}
.viewMore {
    font-size:75%;
}

#newCountHeader {
    display:none;
}

#newLinkCount {
    font-size:24px;
    font-weight:bold;
}

.smallLink {
    font-size:10px;
}
