{% extends "baseLayout.html" %}

{% block title %}Setup Credentials{% endblock %}

{% block body %}

{% for msg in get_flashed_messages() %}
<p><strong>{{ msg }}</strong></p>
{% endfor %}

Enter your personal Google API project info that will be used to sync your data.

Get a client ID and secret by:
<ol>
    <li>creating a new project <a href='https://code.google.com/apis/console/'
        target='_blank'>here</a></li>
    <li>enabling Latitude API access in the Services section</li>
    <li>creating a client ID in the API Access section <ul>
        <li>name the product anything you want, e.g. "My Locker"</li>
        <li>the application type should be "Web application"</li>
        <li>click "more options" and set a custom redirect URI of
            {{ externalUri }}auth/</li>
        </ul></li>
</ol>

<form method='POST' action='saveAuth'>

    Client ID: <input name='client_id'><br>
    Client Secret: <input type='password' name='client_secret'><br>

    <input type='submit' value='Save'>
</form>
{% endblock %}
