@font-face {
	font-family: 'UnitRoundedOTUltra';
	src: url('unitroundedot-ultra-webfont.eot');
	src: local('☺'), url('unitroundedot-ultra-webfont.woff') format('woff'), url('unitroundedot-ultra-webfont.ttf') format('truetype'), url('unitroundedot-ultra-webfont.svg#webfontjpJkAeR6') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bloombrand {
        font-family: 'UnitRoundedOTUltra', Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        line-height:normal;
        font-size-adjust: 0.52;
        text-transform: lowercase;
        font-size: 96px;
}
