{
    "lockerHost" : "localhost",
    "lockerPort" : 8042,
    "logFile": null,
    "me" : "Me",
    "scannedDirs" : [
        "Apps", 
        "Collections", 
        "Connectors"
        ],
    "mongo" : {
        "dataDir": "mongodata",
        "host": "localhost",
        "port": 27018
    },
    "dashboard" : {
        "customLogo": "tlp_logo.png",
        "customFooter": "singly-footer.html",
        "customTitle": "the locker project",
	"customLogout": "singly-logout.html"
    }
}
