@CHARSET "UTF-8";

.header {
	background: rgb(125, 174, 92);
	width: 100%;
	color: white;
	border-radius: 50px;
}

.goback {
	position: absolute;
	left: 90%;
	top: 3%;
}

.body {
	background: rgb(125, 174, 92);
	border-radius: 14px;
	color: white;
}

.content {
	margin-left: 1%;
}

h3 {
	margin-left: 1%;
	margin-bottom: 0.5%;
}

a {
	color: white;
}

a:hover {
	color: rgb(199, 199, 199);
}