
/* App Sections ----------------------------------------------------------- */

#appSection
{
  display: none;
}

/*
#appSection > header h1:after
{
  content: "App";
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.5);
}
*/

#appFrame
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#appFrame h1
{
}