
/* Connectors ------------------------------------------------------------- */

section#connectorsSection
{
  display: none;
}

ul#connectorsList
{
  position: absolute;
  left: 1px;
  top: 49px;
  bottom: 1px;
  width: 200px;
  z-index: 1;

  -webkit-border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  border-radius: 0;
  border-bottom-left-radius: 3px;

  border-right: 1px solid rgba(255, 255, 255, 0.05);
  
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

ul#connectorsList li
{
  line-height: 32px;
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
  font-size: 14px;
  cursor: default;
}

ul#connectorsList li:nth-of-type(odd)
{
  background-color: rgba(0, 0, 0, 0.15);
}

ul#connectorsList li:hover
{
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.1);
}

ul#connectorsList .current
{
  background-color: lightslategrey !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.015)), to(rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.15));

  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
}

#connectorInfo
{
  position: absolute;
  left: 0px;
  right: 1px;
  top: 49px;
  bottom: 1px;
  padding: 20px;
  margin-left: 201px;
  color: rgba(255, 255, 255, 0.75) !important;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.075);
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.075), inset -1px 0 0 rgba(255, 255, 255, 0.075), inset 0 -1px 0 rgba(0, 0, 0, 0.35);
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}

#connectorInfo h1
{
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-bottom: 18px;
}

#connectorInfo .description
{
  margin-bottom: 18px;
  line-height: 24px;
}

#connectorInfo .details
{
  line-height: 18px;
  list-style: none;
  font-size: 10px;
}

#connectorInfo .value
{
  font-family: Menlo, Courier, monospace;
}

#connectorInfo section#connectorInstancesSection
{
  position: absolute;
  left: 21px;
  right: 20px;
  bottom: 21px;
  top: 256px;
  
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#connectorInfo section#connectorInstancesSection footer
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
  line-height: 32px;

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.5));

  -webkit-border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  -moz-border-radius-bottomleft: inherit;
  -moz-border-radius-bottomright: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;

  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05),
                      inset 1px 0px 0px rgba(255, 255, 255, 0.05),
                      inset -1px 0px 0px rgba(255, 255, 255, 0.05),
                      inset 0px -1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05),
                   inset 1px 0px 0px rgba(255, 255, 255, 0.05),
                   inset -1px 0px 0px rgba(255, 255, 255, 0.05),
                   inset 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05),
              inset 1px 0px 0px rgba(255, 255, 255, 0.05),
              inset -1px 0px 0px rgba(255, 255, 255, 0.05),
              inset 0px -1px 0px rgba(0, 0, 0, 0.5);
}

#connectorInfo section#connectorInstancesSection footer ul
{
  list-style: none;
  line-height: inherit;
  height: inherit;
}

#connectorInfo section#connectorInstancesSection footer li
{
  
}


#connectorInfo ul#connectorInstancesList
{
  list-style: none;
  margin-top: 20px;
  padding: 20px;
}

#connectorInfo ul#connectorInstancesList li
{
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  line-height: 32px;
/*  background-color: rgba(255, 255, 255, 0.1);*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.05)));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 3px;
  line-height: 36px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.075), inset 1px 0px 0px rgba(255, 255, 255, 0.05), inset -1px 0px 0px rgba(255, 255, 255, 0.05), inset 0px -1px 0px rgba(0, 0, 0, 0.5);

  text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.5);
}

#availInstall
{
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.05)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.15),
                      inset 1px 0 0 rgba(255, 255, 255, 0.05),
                      inset -1px 0 0 rgba(255, 255, 255, 0.05),
                      -1px -1px 0 rgba(0, 0, 0, 0.5),
                      1px 1px 0 rgba(255, 255, 255, 0.05);
}

/*
#installedServices
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  list-style: none;
  padding: 20px;
}

#installedServices li
{
  position: relative;
  padding-left: 10px;
  font-size: 14px;

  height: 36px;
  line-height: 36px;

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.05)));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 3px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.075), inset 1px 0px 0px rgba(255, 255, 255, 0.05), inset -1px 0px 0px rgba(255, 255, 255, 0.05), inset 0px -1px 0px rgba(0, 0, 0, 0.5);

  text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.75);
}

#installedServices li .title
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
}

#installedServices li .identifier
{
  position: absolute;
  right: 100px;
  top: 0;
  bottom: 0;
  font-size: 12px;
  font-family: Menlo, Courier, monospace;
  color: rgba(255, 255, 255, 0.35);
}

#installedServices li .page
{
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  font-size: 12px;
}

*/