
body
{
  margin: 0;
  padding: 0;

  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

  background-color: rgb(30, 35, 40);
  background-image: url("../Images/Background.png"); /* TODO This must be replaced with unique artwork */

  -webkit-user-select: none;
  -moz-user-select: none;
}

aside
{
  position: absolute;
  left: 20px;
  top: 20px;
  bottom: 20px;

  width: 220px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

/*  background-color: rgba(255, 255, 255, 0.95); */

  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
}

aside header
{
  text-align: center;
}

aside nav
{
  position: absolute;
  top: 270px;
  left: 0;
  right: 0;

  padding-bottom: 1px;
  background-color: rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5),
                      inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5),
                   inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5),
              inset 0px -1px 0px rgba(255, 255, 255, 0.15);
}

aside nav#applications
{
  top: 425px;
  bottom: 0;
}

aside nav#applications .placeholder
{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -32px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: rgba(255, 255, 255, 0.15);
/*  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);*/
  text-shadow: none;
}

aside nav li
{
  display: block;
  cursor: pointer;

  height: 42px;
  line-height: 42px;

  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

aside nav#applications li
{
  height: 28px;
  line-height: 28px;
  font-size: 12px;
}

aside nav li:first-of-type
{
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-radius-top-left: 3px;
  border-radius-top-right: 3px;
}

aside nav li:last-of-type
{
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-radius-bottom-left: 3px;
  border-radius-bottom-right: 3px;
}

aside nav li:hover,
aside nav li.current
{
  background-color: lightslategrey;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.015)), to(rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.15));

  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
}

aside nav li#diaryTab
{
  background-image: url("../Images/Diary.png");
  background-repeat: no-repeat;
  background-position: 13px 50%;
  padding-left: 48px;
}

aside nav li#adaptersTab
{
  background-image: url("../Images/Services.png");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding-left: 48px;
}

aside nav li#collectionsTab
{
  background-image: url("../Images/Services.png");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding-left: 48px;
}

section#mainSection
{
  position: absolute;
  left: 260px;
  top: 20px;
  right: 20px;
  bottom: 20px;

  padding: 20px;
  padding-top: 68px;

  background-color: rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5),
                      inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5),
                   inset 0px -1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5),
              inset 0px -1px 0px rgba(255, 255, 255, 0.15);
}

section#mainSection header
{
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;

  height: 48px;
  line-height: 48px;

/*  background-color: rgba(255, 255, 255, 0.15);
*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.5));

  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-radius-top-left: 4px;
  border-radius-top-right: 4px;

  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05),
                      inset 1px 0px 0px rgba(255, 255, 255, 0.05),
                      inset -1px 0px 0px rgba(255, 255, 255, 0.05),
                      inset 0px -1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05),
                   inset 1px 0px 0px rgba(255, 255, 255, 0.05),
                   inset -1px 0px 0px rgba(255, 255, 255, 0.05),
                   inset 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05),
              inset 1px 0px 0px rgba(255, 255, 255, 0.05),
              inset -1px 0px 0px rgba(255, 255, 255, 0.05),
              inset 0px -1px 0px rgba(0, 0, 0, 0.5);
}

section#mainSection header h1
{
  margin-left: 20px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 1);
}

section#mainSection header ul.actions
{
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;

  margin: 0;
  margin-top: 7px;
  padding: 0;

  list-style: none;

  font-size: 12px;
  font-weight: bold;
}

section#mainSection header ul.actions li
{
  opacity: 0.7;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.25s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.25s;
}

section#mainSection header ul.actions li:hover
{
  opacity: 1.0;
}

/*
section#mainSection header ul.actions li a
{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  display: block;

  height: 26px;
  line-height: 26px;

  padding: 2px 12px;

  background-color: rgba(255, 255, 255, 0.15);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.015)), to(rgba(0, 0, 0, 0.15)));

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.015);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(0, 0, 0, 0.5);
}
*/

footer
{
  display: none;
}

.tab a {
  font-size: 12px;
}

/* Diary Section ---------------------------------------------------------- */

section#timelineSection
{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 120px;
}

section#timelineSection ul
{
  list-style: none;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  outline: 1px solid red;
  height: 100px;
}

section#timelineSection li
{
  float: right;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 1px;
}

section#diarySection
{
}

section#diarySection #diaryTemplate
{
  display: none;
}

section#diarySection #diaryLines
{
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 20px;

  overflow-y: auto;
}

.diaryLine
{
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  line-height: 32px;
/*  background-color: rgba(255, 255, 255, 0.1);*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.05)));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 3px;
  line-height: 36px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.075), inset 1px 0px 0px rgba(255, 255, 255, 0.05), inset -1px 0px 0px rgba(255, 255, 255, 0.05), inset 0px -1px 0px rgba(0, 0, 0, 0.5);

  text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.5);
}

.diaryTimestamp
{
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  font-size: 12px;
}

/* Adapters --------------------------------------------------------------- */

#adaptersSection
{
  display: none;
}

#available
{
  display: none;
  clear: both;
  height: 210px;
  padding-top: 10px;
  position: absolute;
  left: 1px;
  top: 50px;
  right: 1px;
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#available .description
{
  margin-bottom: 18px;
  line-height: 24px;
}

#available .details
{
  line-height: 18px;
  list-style: none;
  font-size: 10px;
}

#available .value
{
  font-family: Menlo, Courier, monospace;
}

#availList
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 200px;

  overflow-y: scroll;
  overflow-x: hidden;

  background-color: rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

#availList li
{
  line-height: 32px;
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
  font-size: 14px;
  cursor: default;
}

#availList li:nth-of-type(odd)
{
  background-color: rgba(0, 0, 0, 0.15);
}

#availList li:hover
{
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.1);
}

#availList .current
{
/*  background-color: red !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.05)));
*/  background-color: lightslategrey !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.015)), to(rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.15));

  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);

}

#availInfo
{
  position: absolute;
  left: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: 210px;
  color: rgba(255, 255, 255, 0.75) !important;
  font-size: 12px;
}

#availInfo h1
{
  margin: 0;
  padding: 0;
  line-height: 64px;
  font-size: 18px;
}

#availInstall
{
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.05)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.15),
                      inset 1px 0 0 rgba(255, 255, 255, 0.05),
                      inset -1px 0 0 rgba(255, 255, 255, 0.05),
                      -1px -1px 0 rgba(0, 0, 0, 0.5),
                      1px 1px 0 rgba(255, 255, 255, 0.05);
}

#installedServices
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  list-style: none;
  padding: 20px;
}

#installedServices li
{
  position: relative;
  padding-left: 10px;
  font-size: 14px;

  height: 36px;
  line-height: 36px;

/*  background-color: rgba(255, 255, 255, 0.1);*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.05)));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 3px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.075), inset 1px 0px 0px rgba(255, 255, 255, 0.05), inset -1px 0px 0px rgba(255, 255, 255, 0.05), inset 0px -1px 0px rgba(0, 0, 0, 0.5);

  text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.75);
}

#installedServices li .title
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
}

#installedServices li .identifier
{
  position: absolute;
  right: 100px;
  top: 0;
  bottom: 0;
  font-size: 12px;
  font-family: Menlo, Courier, monospace;
  color: rgba(255, 255, 255, 0.35);
}

#installedServices li .page
{
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  font-size: 12px;
}

/* Collections ------------------------------------------------------------ */

#collectionsSection
{
  display: none;
}

/* Custom Scrollbars ------------------------------------------------------ */

::-webkit-scrollbar
{
  width: 20px;
}

::-webkit-scrollbar:horizontal
{
  height: 20px;
}

::-webkit-scrollbar-corner  
{
  display: none;
}

::-webkit-scrollbar-track
{
  margin-top: 6px;
  margin-bottom: 6px;
  border-width: 20px 0;
}

::-webkit-scrollbar-track:horizontal
{
  margin-left: 6px;
  margin-right: 6px;
  border-height: 20px 0;
}

::-webkit-scrollbar-thumb
{
  -webkit-border-image: url("../Images/VerticalScrollbar.Thumb.png") 20 20 20 0;
  border-width: 20px 0;
  min-height: 40px;
}

::-webkit-scrollbar-thumb:hover
{
  -webkit-border-image: url("../Images/VerticalScrollbar.Thumb.png") 20 0 20 20;
}

::-webkit-scrollbar-thumb:horizontal
{
  -webkit-border-image: url("../Images/HorizontalScrollbar.Thumb.png") 0 20 20 20;
  border-width: 0 20px;
  min-width: 40px;
}

::-webkit-scrollbar-thumb:horizontal:hover
{
  -webkit-border-image: url("../Images/HorizontalScrollbar.Thumb.png") 20 20 0 20;
}
