
/* Diary Section ---------------------------------------------------------- */

section#diarySection
{
}

section#diarySection #diaryEntryTemplate
{
  display: none;
}

section#diarySection #diaryEntriesList
{
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 20px;

  overflow-y: auto;
}

.diaryEntry
{
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  line-height: 32px;
/*  background-color: rgba(255, 255, 255, 0.1);*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.05)));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 3px;
  line-height: 36px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.075), inset 1px 0px 0px rgba(255, 255, 255, 0.05), inset -1px 0px 0px rgba(255, 255, 255, 0.05), inset 0px -1px 0px rgba(0, 0, 0, 0.5);

  text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.5);
}

.diaryTimestamp
{
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  font-size: 12px;
}
