.header {
  padding: 10px 0px;
  border-bottom: solid 1px #4d4d4d;
  font-size: 18px;
  display: block;
}

li.appList {
  overflow: hidden;
  border-bottom: solid 1px #4d4d4d;
}

li.appList:hover {
  background-color: #e8f6fc;
  cursor: pointer;
}

li.appList p {
  padding: 10px 0px;
  float: left;
  font-size: 14px;
}

li.appList p.date {
  float: right;
  margin-right: 10px;
}

li.appList p .pipe {
  margin: 0px 5px;
}

body {
  margin: 10px 0px 0px 40px;
}
