body {
  margin: 40px;
}

h1 {
  font-size: 36px;
  font-weight: 200;
}

.synclets-list {
  margin: 40px 0;
}

.synclets-list li {
  margin: 15px 0;
  width: 350px;
  height: 27px;
  padding: 5px 0 0 40px;
  background: transparent url() no-repeat left center;
}

.synclet-logo {
  padding: 0 10px;
  vertical-align: middle;
}

.synclet-name {
  font-size: 22px;
  font-weight: 200;
}

.action-button {
  float: right;
  vertical-align: middle;
}

.hideable {
  display: none;
}

.orange {
  color: #F7931E;
}

#main-header-2 {
  display: none;
}
