body {
  margin: 40px;
}

h1 {
  font-size: 24px;
  font-weight: 200;
  margin: 20px 0 6px 0;
}

h2 {
  font-size: 24px;
  margin: 20px 0 6px 0;
  font-weight:bold;
}

h3 {
  font-size: 20px;
  margin: 14px 0 4px 0;
  font-weight:bold;
}

#develop-nav {
  width: 100%;
  background: #F2F2F2;
  height: 160px;
}

.develop-nav-column {
	width: 200px; 
	height: 160px;
	float: left;
}

.develop-nav-column div { 
	margin: 25px; 
}

.navitem-selected {
  font-weight: bold;
  color: #29ABE2 !important;
}

li {
  margin-left: 30px;
}

li p {
  font-size: 16px;
  margin: 0;
  max-width: 640px;
}

pre.prettyprint {
  font-family: "Courier New";
  margin: 20px;
  font-size: 14px;
  display: inline-block;
  background-color: #F8F8F8;
  border-radius: 3px;
  padding: 10px;
}

.hidden {
  display: none;
}
