.body a {
  display: block;
}

.app-card {
  width: 300px;
  height: 124px;
  border: solid 1px #eaeaea;
  background-color: #f4f4f4;
  padding: 6px;
  margin: 10px;
  float: left;
  overflow: hidden;
  cursor: pointer;
}

.app-card .screenshot img {
  width: 124px;
  height: 124px;
}

.app-card .left-side {
  float: left;
  position: relative;
  width: 124px;
}

.app-card .left-side .description {
  z-index: 0;
}

.app-card .left-side .screenshot {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.app-card .app-info {
  float: right;
  width: 160px;
  position: relative;
  height: 136px;
}

.app-card .app-info .author {
  font-size: 14px;
}

.app-card .app-info p {
  margin: 0px 0px 2px 0px;
}

.app-card .app-info input[type=button] {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 140px;
}

input[type=button].install {
  color: white;
  background-color: #F7931E;
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.breadcrumb {
  list-style: none;
  overflow: hidden;
  margin-top: 10px;
}

.breadcrumb li {
  font-size: 18px;
  float: left;
}

.breadcrumb li p {
  padding: 7px 0px 7px 50px;
  background: #f4f4f4;
  position: relative;
  display: block;
  float: left;
}

.breadcrumb li a {
  display: inline;
}

.breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #f4f4f4;
  top: 50%;
  position: absolute;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb li a:before {
   content: " ";
   display: block;
   width: 0;
   height: 0;
   border-top: 50px solid transparent;
   border-bottom: 50px solid transparent;
   border-left: 30px solid white;
   position: absolute;
   top: 50%;
   margin-top: -50px;
   margin-left: 3px;
   left: 100%;
   z-index: 1;
}

.breadcrumb li:first-child a {
  padding-left: 20px;
}

.full-app-details {
  margin-top: 16px;
  width: 800px;
  height: 390px;
  background-color: #f4f4f4;
  overflow: hidden;
  font-size: 16px;
}

.full-app-details .screenshot-container {
  margin: 15px;
  float: left;
}

.full-app-details .screenshot-container img {
  width: 360px;
  height: 360px;
}

.full-app-details .full-app-info {
  margin: 15px 0px 0px 3px;
  float: left;
  width: 400px;
  height: 375px;
}

.full-app-details .action-buttons {
  float: right;
  width: 150px;
  margin-right: 15px;
}

.full-app-details .action-buttons input {
  width: 140px;
}

.action-buttons a {
  font-size: 14px;
  height: 24px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 30px;
  line-height: 26px;
  margin: 4px 0px;
}

.action-buttons a.twitter {
  background-image: url('../img/icons/24px/twitter.png');
}

.action-buttons a.facebook {
  background-image: url('../img/icons/24px/facebook.png');
}

.full-app-details .title {
  font-size: 20px;
  font-size: bold;
  margin-bottom: 2px;
}

.full-app-details .author {
  margin-bottom: 10px;
}

.full-app-details .description {
  margin-top: 30px;
  margin-bottom: 10px;
}

.full-app-details .version,.last-update {
  font-weight: bold;
}

.full-app-details .uses a {
  display: inline;
}
