body {
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

.orange {
  color: #F7931E;
}

.always-orange {
  color: #F7931E;
}

.blue {
  color: #29ABE2;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

/* header section */
header {
  z-index: 2;
  min-width: 960px;
  position: absolute;
  width: 100%;
  height: 83px;
}

header .user-info {
  float: left;
  margin: 18px;
  width: 184px;
  height: 48px;
}

header .user-info img {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  border: solid 1px #999;
  float: left;
}

header .user-info-name {
  width: 126px;
  height: 48px;
  font-size: 16px;
  float: left;
}

header .nav-section {
  margin-left: 220px;
  border-bottom: solid 1px #4d4d4d;
  height: 82px;
}

header .nav {
  margin-top: 39px;
  float: left;
}

header .nav a {
  font-family: Helvetica;
  font-size: 24px;
  border-left: 1px dashed #4d4d4d;
  padding: 5px 20px;
}

header .nav a.selected {
  color: #29ABE2;
  font-weight: bold;
}

header .hosted-nav {
  float: right;
  font-size: 12px;
}

header .hosted-nav a {
  float: right;
  padding: 5px 13px;
  border-left: 1px dashed #4b4b4b;
}

/* styling for the sidebar */
aside {
  z-index: 2;
  position: absolute;
  top: 83px;
  width: 220px;
}

/* iframe styling */
#appFrame {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 83px;
  padding-left: 220px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* sidenav styling */
.sidenav {
  margin-left: 18px;
  width: 184px;
}

.sidenav-header {
  border-bottom: solid 1px #4d4d4d;
  width: 100%
  font-size: 14px;
  letter-spacing: -.5px;
  height: 16px;
}

.sidenav-header-title {
  float: left;
  margin-left: 2px;
}

.sidenav-header-link {
  float: right;
  margin-right: 5px;
}

.sidenav-items {
  padding-top: 5px;
  margin-bottom: 20px;
}

.sidenav-items p {
  margin: 8px 0px 8px 2px;
}

.sidenav-items .installed {
  opacity: .5
}

.sidenav-items .app-details {
  background-color: #f2f2f2;
  margin-left: 10px;
  padding: 4px 7px;
  font-size: 14px;
  display: none;
}

.sidenav-items .app-details a {
  margin-top: 2px;
  display: inline-block;
}

/* styling for the create page */
.viewAll.blue:after {
  content: " \25BC";
  font-size: .75em;
}

.viewAll:not(.blue):after {
  content: " \25B6";
  font-size: .75em;
}

.your-apps.your-apps.app-details {
  margin: 5px 0px 5px 20px;
  display: none;
  font-size: 14px;
  background-color: white;
  padding: 0px;
}

.published {
  color: #39b74f;
}

.in-review {
  color: #999999;
}

.drafts {
  color: #feaecd;
}

.publish-list li {
  margin-left: 30px;
  margin-top: 20px;
}

.publish-list select {
  margin-left: 8px;
}

.publish-list li p {
  margin: 7px 0px;
}

.publish-list input[type="text"] {
  height: 20px;
  width: 200px;
}

.publish-list input[type="checkbox"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  -ms-appearance: radio;
  -o-appearance: radio;
}

.publish-list select {
  min-width: 200px;
}

.publish-list p.indented {
  margin-left: 50px;
}

.publish-list .preview {
  position: relative;
  width: 200px;
  height: 200px;
  border: solid 1px #999;
}

.publish-list .preview p {
  position: absolute;
  bottom: 0px;
  text-align: center;
  color: #000;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  margin: 0px;
}

.publish-list .preview img {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.publish-list .app-newname {
  margin-left: 5px;
}

.actions {
  margin-left: 300px;
}

.actions a {
  margin-right: 40px;
  font-size: 14px;
  padding: 0px 2px 1px;
  border-bottom: solid 1px #F7931E;
}

button.publish {
  background-color: #F7931E;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}
