/* @group Helpers */
.nom {
	margin: 0;
}
.nop {
	padding: 0;
}
.white {
	color: white;
}
.grey {
	color: ;
}
.strong {
	font-weight: bold;
}
.em {
	font-style: italic;
}
.fll {
	float: left;
}
.flr {
	float: right;
}
.fln {
	float: none;
}
.cll {
	clear: left;
}
.clr {
	clear: right;
}
.clb {
	clear: both;
}
.cln {
	clear: none;
}
.blk {
	display: block;
}
.inl {
	display: inline;
}
.hdn {
	display: none;
}


body
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
               "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 24px;
}
#searchForm {
  margin: 20px;
}
#searchterm { 
	float: left; 
}
#searchtype { 
	float: left; 
}
#searchButton { 
	float: left;
}
#indexLinks {
  margin: 60px 0 0 0;
}
.result-type { 
	font-weight: bold; 
}
.text {
  padding: 4px;
  font-size: 1.0em;
}
.wrapper {
  margin: 30px;
}
.button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.015)), to(rgba(0, 0, 0, 0.35)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.35));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.35));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.35));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.35));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.25);
}
.button a {
  display: block;

  padding-left: 12px;
  padding-right: 12px;

  height: 32px;
  line-height: 32px;
  font-size: 13px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85) !important;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);

  cursor: default;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.button:hover a {
  color: white;
}

.button:active {
  background-color: rgba(0, 0, 0, 0.6) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.015)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.015));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.015));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.015));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.015));
}

.button:active a {
  color: white;
}
.rawcheckbox { 
	margin: 0 0 0 20px; 
}
.typeSelector {
    font-size: 2.0em;
}
.searchresults .result-type { 
	text-transform: capitalize;
	margin: 30px 0 5px; 
}
.searchresults .result-type:first { 
	margin: 50px 0 5px; 
}
.searchresults li { 
	list-style-type: none; 
	background: #eee;
	padding: 5px;
	margin: 8px 0;
	border: 1px #bbb solid;
}
.searchresults .upperresult { 
	 width: 600px;
	 margin: 5px 0 0 15px;
}
.searchresults .lowerresult { 
	 margin: 3px 0 3px 15px;
	 color: #888;
	 font-size: 0.8em;
}
.searchresults .avatar { 
	 border: 1px #bbb solid;
}
