@font-face {
    font-family: 'MuliRegular';
    src: url('Muli-Regular-webfont.eot');
    src: url('Muli-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Muli-Regular-webfont.woff') format('woff'),
         url('Muli-Regular-webfont.ttf') format('truetype'),
         url('Muli-Regular-webfont.svg#MuliRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuliLight';
    src: url('Muli-Light-webfont.eot');
    src: url('Muli-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Muli-Light-webfont.woff') format('woff'),
         url('Muli-Light-webfont.ttf') format('truetype'),
         url('Muli-Light-webfont.svg#MuliLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nevisBold';
    src: url('nevis-webfont.eot');
    src: url('nevis-webfont.eot?#iefix') format('embedded-opentype'),
         url('nevis-webfont.woff') format('woff'),
         url('nevis-webfont.ttf') format('truetype'),
         url('nevis-webfont.svg#nevisBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    font-family: 13.34px 'MuliLight',sans-serif;
    background-color: rgb(235,235,235);
    padding:0px;
    margin: 0px;
    height: 100%;
    color: rgb(104,104,104);
}

#loader {
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    top: 0;
    display: none;
    background-image: url('../img/spinner.gif');
    background-repeat: no-repeat;
    background-position: center;
}

#loader p {
    color: white;
    font-size: 2em;
    bottom: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}

#content {  
    display: table;  
}  
  
#main {
    height: 100%;
    margin-right: 0px;
}  

aside {
    z-index: -1;
    width: 340px;
    height: 100%;
    position: fixed;
    top: 0; right: 0;
    margin-top: 73px;
    padding: 17px;
    padding-top:25px;
    background-color: rgb(235,235,235);
    box-shadow: rgba(0,0,0,0.4) -2px 2px 2px 0px inset;
    font-family: 'MuliLight';
}  

aside a {
    color: rgb(51,204,255);
    text-decoration: none;
    font-family: 'MuliRegular';
    text-shadow: 0px 1px 1.5px #999;
}


aside a:hover {
    color: rgb(104,104,104);
    text-decoration: none;
}

aside a.address {
    display: block;
}

aside p {
    margin:2px 0px 0px 0px;
    color: rgb(51,51,51);
    text-shadow: 0px 1px 1.5px #999;
    text-align: left;
}

aside h1 {
    margin: 0px;
    font-size: 23px;
    text-shadow: 0px 1px 1.5px #999;
}

aside .small {
    color: rgb(152,152,153);
    margin: 0px;
    font-size: 11px;
}

aside img {
    margin-top: 25px;
    width: 150px;
    border: solid 2px #999;
}

aside img.icon {
    width:16px;
    height:16px;
    float:left;
    border: none;
    margin-top: 2px;
    margin-right: 10px;  
}

aside div.detail {
    display: none;
    padding-left:8px;
}

aside div.detail div {
    padding: 5px 0px;
}

#contacts {
    min-height: 100%;
    margin: 0px;
    margin-left: 0px;
    margin-top: 73px;
    padding: 0px;
    list-style:none;
    text-shadow: 0px 1px 1px #999;
}

.contact div.contactSummary {
    display:inline-block;
    font-family: 'MuliRegular';
    color: rgb(67,67,67);
}

.contact div.contactSummary img {
    float: left;
    height: 50px;
    width: 50px;
}

.contact div.contactSummary strong {
    font-size: 16px;
    font-family: 'MuliLight';
    color: rgb(67,67,67);
}

.contact div.contactActions {
    float: right;
    width: 200px;
    padding-right: 10px;
    text-align: right;
}

#main {
    margin-top: 10px;
}

/* Search Box */

#searchBox {
    font-family: 13.34px helvetica,arial,freesans,clean,sans-serif
    display: none;
    position: fixed;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #999;
    width: 100%;
    height:52px;
    background: rgb(202,202,202); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(202,202,202,1) 0%, rgba(173,173,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,202,202,1)), color-stop(100%,rgba(173,173,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(202,202,202,1) 0%,rgba(173,173,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(202,202,202,1) 0%,rgba(173,173,173,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(202,202,202,1) 0%,rgba(173,173,173,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(202,202,202,1) 0%,rgba(173,173,173,1) 100%); /* W3C */
}

#searchBox * {
    float: left;
    font-size: 20px;
}

#searchBox #search.inactive {
    color: #ccc;
    padding: 2px;
}

#searchBox select {
    display: inline-block;
    font-size: 13px;
    font-family: 'MuliRegular';
    padding: 3px;
    margin: 0 0.25em 0 0;
    width: 200px;
    height: 25px;
    -webkit-border-radius: 0.25em;
    vertical-align: text-top;
    color: #999;
}

#searchBox .clear {
    float: none;
}

#searchBox #count {
    color: #fff;
    width: 20px;
    height: 0;
    font-size: 14px;
    font-family:'nevisBold';
    padding: 0px 5px 0px 12px;
    margin-top: 11px;
    text-shadow: 0px 1px 1.5px #999;
}

#searchBox label {
    font-family: 'MuliLight';
    line-height: 23px;
    text-shadow: 0px 1px 1.5px #999;
}

#searchBox input {
    margin-top: 5px;
    vertical-align: text-top;
}


header div {
    color: grey;
}

.clear {
    clear: both;
}

#contacts {
    overflow: hidden;
    background: rgb(255,255,255);
}

#contacts li img {
    margin-right: 10px;
}

#contacts li {
    margin: 0px;
    margin-right: 1px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #bbb;
    -moz-box-shadow: 1px 1px #999;
    -webkit-box-shadow: 1px 1px #999;
    box-shadow: 1px 0px 1px #999;
}

#contacts li:hover {
    margin: 0px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: -3px;
    border-bottom: 1px solid #bbb;
    background-color: rgb(235,235,235);
    box-shadow: rgba(0,0,0,0.4) 0px 2px 2px 0px inset;
}

#contacts li.clicked {
    margin: 0px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: -3px;
    border-bottom: 1px solid #bbb;
    background-color: rgb(235,235,235);
    box-shadow: rgba(0,0,0,0.4) 0px 2px 2px 0px inset;
}

#contacts li:hover a {
    color: white;
}

#container {
    height: 100%;
}

a {
    color:#aaa;
    overflow:hidden;
}

/* Social Links */

a.social_link {
    font-size: 0px;
    text-indent: -99999999999999999999px;
    text-shadow: none;
    display: block;
    float: right;
    height: 48px;
    width: 48px;
/*    opacity: 0.5; */
}

a.social_link:hover {
    cursor: pointer;

}

a.facebook {
    background: url('../img/www.addictedtocoffee.de/facebook.png');
}

a.twitter {
    background: url('../img/www.addictedtocoffee.de/twitter.png');
}

a.github {
    background: url('../img/www.addictedtocoffee.de/github.png');
}

a.email {
    background: url('../img/mail.png');
}


.blueGreyGrad {
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
}

.logo_text{
    font-family: 'nevisBold';
    font-weight: bold;
    font-size: 29px;
    position:relative; top:-13px;
}

.returnbtn_text{
    font-family: 'MuliLight';
    font-size: 200px;
    position:relative; top:-9px;
}

.returnbtn_text a {
    text-decoration: none;
    color: #ccc;
    margin-left: 4px;
    font-size: 9px;
}


#returnbtn_bg {
    border-color: rgb(153,153,153);
    opacity: 0.8;
    border-style:solid;
    border-width:15px;
    padding: 0px;
    width:160px;
    height:0;
    right: 0px;
    position:absolute; top:26px;
    float:right;
}

#returnbtn_bg:hover {
   width:167px;
}


#search_box { 
    background:-moz-linear-gradient(top, #ccc, #999);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#999));
    border:1px solid #999;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius/:5px;
    -moz-box-shadow:inset 0 1px #ccc, inset 0 -1px 2px #999, 0 0 0 0.5px rgba(102,102,102,0.45);
    -webkit-box-shadow:inset 0 1px #ccc, inset 0 -1px 2px #999, 0 0 0 0.5px rgba(102,102,102,0.45);
    padding:4px;
    width:400px;
    margin: 0px 20px 0px 20px;
}
 
#search_box .wrapper { 
    background:#fff;
    border:1px solid #999;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 2px #ccc;
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 2px #ccc;
    height: 40px;
    padding-left:10px;
    position:relative;
}
 
#search_box input,
#search_box input:focus { border:none; color:#999; outline:none; font: 14px 'MuliRegular', Helvetica, Arial, sans-serif; margin:11px 0; width:335px; }
#search_box button {
    background:-moz-linear-gradient(top, #453e26, #000);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#453e26), to(#000));
    border:1px solid #000;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -moz-box-shadow:inset 0 -2px 3px #193544, inset 0 1px #907817, 0 1px 1px rgba(0,0,0,4);
    -webkit-box-shadow:inset 0 -2px 3px #193544, inset 0 1px #907817, 0 1px 1px rgba(0,0,0,.4);
    cursor:pointer;
    height:55px;
    position:absolute;
    right:2px;
    top:2px;
    width:45px;
}


