body {
    font-family: 13.34px helvetica,arial,freesans,clean,sans-serif;
    background: rgb(206,220,231);
    padding:10px;
    margin: 0px;
}

#content {  
    display: table;  
}  
  
#main {  
    margin-left: 365px;
}  

aside {  
    width: 335px;
    height: 100%;
    position: fixed;
    top: 0;
    float: left;
    margin: 0px;
    padding: 15px;
    border-right: 5px solid #aaa;
}  
    
aside h1 {
    margin: 0px;
    height: 50px;
}

aside div.detail {
}


#contacts {
    margin: 0px;
    margin-left: 5px;
    margin-top: 65px;
    padding: 0px;
    list-style:none;
    display: none;
}

.contact div.contactSummary {
    display:inline-block;
    width: 400px;
}

.contact div.contactSummary img {
    float: left;
    height: 50px;
    width: 50px;

    /* todo: clean this up */
    -webkit-box-shadow: rgb(170, 170, 170) 0px 0px 4px; box-shadow: rgb(170, 170, 170) 0px 0px 4px; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 13.8px; border-left-width: 2px; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; 
}

#contacts .contact pre {
    display: none;
    font-size: 10px;
}

#contacts.showJSON .contact pre {
    display: block;
}

.contact div.contactSummary strong {
    font-size: 20px;
}

.contact div.contactActions {
    float: right;
    width: 250px;
    padding-right: 10px;
    text-align: right;
}

#main {
    margin-top: 10px;
}

/* Search Box */

#searchBox {
    font-family: 13.34px helvetica,arial,freesans,clean,sans-serif
    display: none;
    position: fixed;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 5px solid #bbb;
    width: 100%;
    background: rgb(206,220,231);
}

#searchBox * {
    float: left;
    font-size: 20px;
}

#searchBox #search.inactive {
    color: #ccc;
    padding: 2px;
}

#searchBox select {
    font-size: 30px;
}

#searchBox .clear {
    float: none;
}

#searchBox #count {
    color: #aaa;
    width: 80px;
    height: 39px;
    padding: 0px 5px 0px 5px;
    margin-top: 1px;
}

#searchBox label {
}

#searchBox input {
    padding: 0px;
}


header div {
    color: grey;
}

.clear {
    clear: both;
}

#contacts {
    background: rgb(206,220,231);
}

#contacts li img {
    margin-right: 10px;
}

#contacts li {
    margin: 0px;
    padding-left: 9px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #bbb;
}

#contacts li:hover {
    background-color: #999;
    color: white;
}

#contacts li:hover a {
    color: white;
}

a {
    color:#aaa;
    overflow:hidden;
}

/* Social Links */

a.social_link {
    font-size: 0px;
    text-indent: -99999999999999999999px;
    text-shadow: none;
    display: block;
    float: right;
    height: 48px;
    width: 48px;
}

a.facebook {
    cursor: pointer;
    background: url('../img/www.addictedtocoffee.de/facebook.png');

}

a.facebook:hover {
}


.blueGreyGrad {
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
}
