{
    "twitter": {
        "consumerKey": "twitterConsumerKey",
        "consumerSecret": "twitterConsumerSecret"
    },
    "facebook": {
        "appKey": "facebookAppKey",
        "appSecret": "facebookAppSecret"
    }
}
