<span id="appTitle">{app.title}</span>
by <a class="orange iframeLink" href="#" data-id="AppGallery-Author?author={app.author.name}">{app.author.name}</a>{~s}
with{~s}{#app.uses.types}<a class="orange iframeLink" href="#" data-id="AppGallery-Filter?types={.}">{.}</a>{@sep} + {/sep}{/app.uses.types}
{~s}from
<span class='appServices'>
  <span class='connected-services'>
    {^connected}<span id="uparrow-container"><img id="uparrow" src="img/uparrow.png"></span>{/connected}
    {#connected}<img class="installed appService" src="https://burrow.singly.com/registry/{.handle}/icon.png">{@sep}{~s}{/sep}{/connected}</span>{~s}
  <span class='unconnected-services'>{#unconnected}<a href="/auth/{.handle}" class="oauthLink"
     data-provider="{.handle}" data-width="{.oauthSize.width}"
     data-height="{.oauthSize.height}"><img class="appService" src="https://burrow.singly.com/registry/{.handle}/icon.png"></a>{@sep}{~s}{/sep}{/unconnected}
  </span>
</span>
{ see the <a class="orange" href="{app.github}">code</a> } {?mine}<a class='iframeLink action-button' data-id='Explore-Publish?app={app.handle}'>PUBLISH!</a>{/mine}
{^connected}<div id="noneConnected">
  Click to connect at least one of these services before you can use this app.
</div>{/connected}