<!-- <section> -->
  <div class="sidenav-header">
    <p class='sidenav-header-title'>APP GALLERY</p>
  </div>
  <div class="installed-apps sidenav-items">
    <ul>
      <li>
        <% /* XXX: This is the method by which appGallery loads its default page */ %>
        <a href="#" data-id='AppGallery-Featured' class="iframeLink">FEATURED</a>
      </li>
    </ul>
  </div>
<!-- </section> -->
