<div class="sidenav-header">
  <p class='sidenav-header-title'>YOUR SERVICES</p>
</div>
<div class="sidenav-items synclets connect">
  <% for (var i in installedConnectors) { %>
    <img class='installed' src="img/icons/32px/<%= installedConnectors[i].handle %>.png">
  <% } %>
</div>
