<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.hash.length === 0) {
      app = 'exploreApps&featured';
      loadApp();
    }
  });
</script>
<div class="sidenav-header">
  <p class='sidenav-header-title'>APP GALLERY</p>
</div>
<div class="installed-apps sidenav-items">
  <ul>
    <li>
      <a href="exploreApps?featured" data-id='exploreApps&featured' class="your-apps iframeLink">FEATURED</a>
    </li>
  </ul>
</div>
<div class="sidenav-header">
  <p class='sidenav-header-title'>FILTER BY TYPE</p>
</div>
<div class="sidenav-items synclets">
  <ul id='types'>
    <li><input name="photos" id="photos" type="checkbox"><label for="photos">Photos</label></li>
    <li><input name="links" id="links" type="checkbox"><label for="links">Links</label></li>
    <li><input name="contacts" id="contacts" type="checkbox"><label for="contacts">Contacts</label></li>
    <li><input name="places" id="places" type="checkbox"><label for="places">Places</label></li>
  </ul>
</div>
<div class="sidenav-header">
  <p class='sidenav-header-title'>FILTER BY SERVICE</p>
</div>
<div class="sidenav-items synclets">
  <ul id='services'>
    <% for (var i in synclets) { %>
      <li><input name="<%= synclets[i].id %>" id="<%= synclets[i].id %>" type="checkbox"><label for="<%= synclets[i].id %>"><%= synclets[i].title %></label></li>
    <% } %>
  </ul>
</div>
