<meta charset="utf-8" />

<title><%= dashboard && dashboard.customTitle ? dashboard.customTitle : "The Locker Project" %></title>

<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/style.css" />

<script src="/static/js/jquery-1.6.2.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/create.js"></script>

