<meta charset="utf-8" />

<title><%= dashboard && dashboard.customTitle ? dashboard.customTitle : "The Locker Project" %></title>

<link rel="stylesheet" href="common/css/reset.css" />
<link rel='stylesheet/less' href='css/style.less' type='text/css' />
<script type="text/javascript" charset="utf-8" src='common/js/less-1.1.5.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src='common/js/jquery.history.js'></script>

