<meta charset="utf-8" />

<title><%= dashboard && dashboard.customTitle ? dashboard.customTitle : "The Locker Project" %></title>

<link rel="stylesheet" href="css/reset.css" />
<link rel='stylesheet/less' href='css/style.less' type='text/css' >
<script type="text/javascript" charset="utf-8" src='js/less-1.1.5.min.js'></script>

<script src="/static/js/jquery-1.6.2.min.js"></script>
<script src="js/jquery.cookie.js"></script>

