<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <script src="js/publish.js"></script>
  </head>
  <body>
    <content class="body">
      <ul>
      </ul>
    </content>
  </body>
</html>


