<div class="sidenav-header">
  <p class='sidenav-header-title'>ACCOUNT SETTINGS</p>
</div>
<div class="sidenav-items">
  <ul>
    <li><a class="iframeLink" data-id="connections" href="#connections">Connections</a></li>
    <li><a class="iframeLink" data-id="info" href="#info">Account Information</a></li>
    <li><a class="iframeLink" data-id="api-key" href="#api-key">API Key</a></li>
  </ul>
</div>
